/*
  Multiple results container // aka Bento box
*/

.results-list {
  margin: 0;
  list-style: none;
}

.results-list-border li {
  border-bottom: solid 1px $grey-5;
}

.record-title {
  text-decoration: none;
  font-size: 1.1rem;
}

.more-results-link {
  display: inline-block;
  margin-top: 1rem;
}

/*
  Record
*/

.record {
  //padding: 1.25rem 0.92rem;
  padding: 1rem 0;
}

.record-description {
  margin: 0.5rem 0;
}

.record-metadata {
  padding-top: 0.5rem;
}


.type {
  font-weight: bold;
}

/*
  Record link
*/

.record-link {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  border: solid 2px transparent;
  background: $grey-6;
}

.record-link:hover {
  background: $main-6;
  border: solid 2px $main-5;
  opacity: 1;
}

.record-link-pre-heading,
.record-link-heading {
  line-height: 1.4;
}

.record-link-pre-heading {
  display: block;
  font-size: 80%;
}

.record-link-heading {
  display: inline-block;
  font-weight: 600;
}

.record-link-info {
  display: block;
  font-size: 90%;
  color: $grey-2;
  line-height: 1.5;
}

.record-image {
  float: right;
  width: 100%;
  max-width: 5rem;
  margin-left: 0.5rem;
  border: solid 1px $grey-5;
}
