.site-header {
  background: #00274C;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container-fluid {
  padding: 0 1rem;
}

.umich-link {

}

.mlibrary-link,
.umich-link {
  display: inline-block;
  height: 2.2rem;
}

.navigation {

}

.navigation-list {

}

.navigation-item {

}
