.access-container {
  background: $grey-6;
  padding: 1.5rem;
  margin-top: -0.5rem;
  align-items: center;
  border-top: solid 1px $grey-7;

  @media (min-width: 32rem) {
    padding: 1rem 2rem;
  }

  &:empty {
    display: none;
  }
}

.access-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.access-item {
  padding: 0;
  margin: 0;
}

.access-item:not(:last-child) {
  margin-bottom: 1rem;
}

.access-link {
  margin-right: 1rem;
}

.access-container {
  .access-list:not(:last-child) {
    margin-bottom: 1rem;
  }
}
