.access-container {
  background: $grey-6;
  padding: 1rem 2rem;
  margin-top: -0.5rem;
  align-items: center;
  border-top: solid 1px $grey-7;

  &:empty {
    display: none;
  }
}

.access-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.access-item {
  padding: 0;
  margin: 0;
}

.access-item:not(:last-child) {
  margin-bottom: 1rem;
}

.holding-detail {
  margin-right: 1rem;

  &:empty {
    display: none;
  }
}

.access-link {
  margin-right: 1rem;
}

.access-container {
  .access-list:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.access-group-container {
  margin-bottom: 2rem;
}

.access-group-heading {
  font-size: 1.2rem;
  margin-bottom: 0;
}

/*
  Access table found on full record pages
*/

.full-record-access-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.access-table {
  border: none;
  margin-top: 0;

  thead {
    background: none;
    border: none;
  }

  th {
    font-weight: 600;
    font-size: 0.9rem;
    color: $grey-2;
  }

  th, td {
    padding: 0.5rem 0;
  }

  .access-item {
    border-bottom: solid 1px $grey-5;
  }

  .access-table-col-status {
    width: 30%;
  }

  .access-table-col-location {
    width: 45%;
  }

  .access-table-col-access {
    width: 25%;
  }

  // Special stying

  .holding-detail-checked-out {
    margin: 0;
    display: block;
  }
}
