.access-container {
  background: $grey-6;
  padding: 1rem 1.5rem;
  margin-top: -0.5rem;
  align-items: center;
  border-top: solid 1px $grey-7;

  @media (min-width: $breakpoint-1) {
    padding: 1rem 2rem;
  }

  &:empty {
    display: none;
  }
}

.access-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.access-detail {
  margin-right: 1rem;

  &:empty {
    display: none;
  }
}
