.advanced-heading-container {
  background: $main-5;
  padding-top: 1.5rem;
  border-bottom: solid 2px $main-4;
  padding-bottom: 1.5rem;
}

.advanced-heading-container-flex {
  @media (min-width: $breakpoint-2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.advanced-link {
  text-decoration: underline;
}

.advanced-input {
  border: solid 1px rgba(0,0,0,0.3);
}

.advanced-input-remove-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-left: 1rem;
  border: solid 1px $grey-4;
  color: $grey-2;
  background: $grey-7;
  cursor: pointer;

  .icon {
    margin-right: 0.5rem;

    g {
      color: $grey-2;
    }
  }
}

.advanced-boolean-container {
  background: $main-5;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
  border-bottom: solid 2px $main-4;
}

.advanced-heading {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 600;

  @media (min-width: $breakpoint-2) {
    text-align: center;
  }

  @media (max-width: $breakpoint-2) {
    margin: 0.5rem 0;
  }
}

.advanced-input-container {
  margin-top: 1rem;
  display: flex;
}

.advanced-search-button-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.advanced-search-button {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.advanced-add-field-container {
  margin-top: 1rem;
  text-align: center;
}
