.advanced-input {
  border: solid 1px rgba(0,0,0,0.3);
}

.advanced-to-basic-link {
  margin-bottom: 1.5rem;
  display: block;
  text-align: center;
  g {
    color: $grey-3;
  }
}

.advanced-input-remove-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: solid 1px $grey-4;
  color: $grey-2;
  background: $grey-7;
  cursor: pointer;
  margin-top: 0.5rem;

  @media (min-width: $breakpoint-2) {
    margin-left: 1rem;
    margin-top: 0;
  }

  .icon {
    height: 1rem;
    width: 0.8rem;

    g {
      color: $grey-3;
    }
  }
}

.advanced-heading {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center;

  @media (max-width: $breakpoint-2) {
    margin: 0.5rem 0;
  }
}

.advanced-input-container {
  margin-top: 1rem;
  display: flex;

  @media (max-width: $breakpoint-2) {
    display: block;
    margin: 1.5rem 0;

    .advanced-input {
      margin-top: 0.5rem;
    }
  }
}

.advanced-search-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.advanced-search-button {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.advanced-add-field-container {
  margin-top: 1rem;
  text-align: center;
}

.advanced-field-select {
  margin-right: 1rem;
  min-width: 12rem;
}

.advanced-filters-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  border-top: solid 2px $grey-5;
}

.advanced-filter-label-text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: $grey-2;
  font-size: 1rem;
}

.advanced-filters-inner-container {
  @media (min-width: $breakpoint-1) {
    display: grid;
    justify-content: center;
  }
}

.advanced-filter-container {
  max-width: 22rem;
}

.advanced-filter-fieldset {
  select {
    width: 100%;
  }
}
