.chat-widget {
  position: fixed;
  right: 1.5%;
  bottom: 0px;
  width: 100%;
  max-width: 97.5%;
  height: 0;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 1px;
  z-index: 100;
  height: 2.75rem;
  max-height: 28rem;
  background: #F7F7F7;
  max-width: 20rem;
  border-radius: 4px 4px 0 0;
}

.chat-widget--opened {
  height: 100%;
}

.chat-widget-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  border: 0;
  font-size: 100%;
  text-align: left;
  height: 2.75rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 4px 4px 0 0;

  .icon {
    margin-right: 0.5rem;

    g {
      color: $green-2;
    }
  }
}

.chat-widget-button--small-screens {
  width: auto;
  text-decoration: underline;
  height: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;

  border: solid 1px $grey-4;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  align-items: center;
  background: $grey-6;
}

.chat-widget-iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-height: 25rem;
  min-height: 24rem;
}

@media print {
  .chat-widget {
    display: none;
  }
}
