.ask-a-librarian-button {
  border: none;
  background: none;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer;

  .icon {
    color: white;
    margin-right: 0.5rem;
    margin-bottom: -0.1rem;
  }
}

.ask-a-librarian-online {
  .icon g {
    color: $green-2;
  }
}
