.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-container--open {
  position: absolute;
  left: 0;
  width: 100%;
}

.react-autosuggest__suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;

  background: white;

  border: solid 1px $grey-3;
  border-radius: 0 0 4px 4px;
  padding: 0.25rem 0;

  max-height: 32rem;
  overflow-y: scroll;
}

.react-autosuggest__suggestion {
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 0.25rem 0.75rem;

  &:hover {
    text-decoration: underline;
  }
}

.react-autosuggest__suggestion--highlighted {
  text-decoration: underline;
}
