@mixin bentobox() {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0;

  @media (min-width: $breakpoint-1) {
    width: 19rem;
    margin-right: 1.5rem;
  }
}

.bentobox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 100%;

  @media (min-width: $breakpoint-1) {
    margin-right: -1.5rem;
  }

  .specialists {
    @include bentobox();
  }
}

.bentobox {
  @include bentobox();

  .results-list {
    border-radius: 4px;
  }
}

.bentobox-inner-container {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  border-radius: 4px;
}

.bentobox-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.6rem 1rem;
  background: $main-3;
  border-radius: 4px 4px 0 0;

  @include box-shadow();

  span {
    line-height: 1.5;
    color: white;
  }
}

.bentobox-heading {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 0.5rem;
  line-height: 1.5;
}

.bentobox-results-info {
  font-size: 0.9rem;
  font-weight: 600;
}

.bentobox-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: $grey-6;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
}

.bentobox-no-results {
  margin: 0;
  background: white;
  padding: 1rem;
  border-radius: 0 0 4px 4px;
}
