.browse {
  padding: 1.5rem 2rem;
  background: white;
}

.browse-heading {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.browse-list {
  margin: 0;
  padding: 0;
}

.browse-item {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.browse-button {
  min-width: 2.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  line-height: 1;
  background: none;
  border: none;
  color: $main-3;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 4px;
  border: solid 1px transparent;

  &:hover {
    background: $main-5;
    border: solid 1px $main-4;
    cursor: pointer;
  }
}

.browse {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    padding: 0;
  }

  .nested-list {
    ul {
      margin-left: 1rem;
      padding-left: 1rem;
    }

    @media (min-width: $breakpoint-2) {
      column-count: 2;
      column-gap: 2rem;

      & > li {
        display: inline-block; // prevents split between columns.
      }
    }

    li {
      font-size: 1rem;
      font-weight: 400;
      padding-top: 0.5rem;
    }

    h3 {
      margin: 0;
      padding: 0;
      font-size: 1.1rem;
      font-weight: 600;
    }

    .browse-filter-link {
      font-size: inherit;
      font-weight: inherit;
      text-align: left;

      &:hover {
        .browse-filter-link__text {
          text-decoration: underline;
        }
      }
    }

    & > li {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 1.5rem;
    }

    li li li {
      font-size: 0.9rem;
    }
  }
}

.browse-filter-link__text {
  padding-right: 0.25rem;
}

.browse-filter-link__count {
  color: $grey-2;
}

.recommended-resource-tag {
  vertical-align: super;
  font-size: 0.8rem;
  background: $u-m-yellow;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  margin-left: 0.3rem;
}
