@mixin box-shadow {
  box-shadow: 0 1px 10px rgba(0,0,0,0.06);
}

.card {
  box-shadow: 0 1px 10px rgba(0,0,0,0.04);
  border-bottom: solid 2px $grey-5;
  padding: 1rem;
  background: white;
}

.card-light {
  background: $grey-6;
}
