.datastore-info-container {
  display: flex;
  align-items: flex-start;
  margin: 0.75rem 0;
  border-radius: 4px;
  justify-content: space-between;

  h1 {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.7;
    font-weight: 400;
  }
}

.datastore-info {
  padding-right: 1rem;
}

.datastore-info-hide {
  padding: 0 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 600;

  &:hover {
    background: $grey-5;
  }
}
