.datastore-list-container {
  background: #fafafa;
  border-bottom: solid 2px $grey-5;
}

.datastore-list {
  margin: 0;
  text-align: center;
}

.datastore-item {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.datastore-item-loading {
  margin: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.45rem;
  padding-top: 0.6rem;
  text-align: center;
}

.datastore-item-link {
  display: inline-block;
  color: $grey-2;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  padding-bottom: 0.45rem;
  padding-top: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-bottom: solid 2px transparent;
}

.datastore-item-active {
  border-bottom: solid 2px $main-3;
  color: $main-3;
}

.datastore-loading {
  display: block;
  padding-bottom: 0.45rem;
  padding-top: 0.5rem;
  margin: 0 0.5rem;
  text-align: center;
}
