.date-range-input-text {
  margin-top: 1rem;
}

.date-range-input .switch-options {
  justify-content: flex-start;
}

.date-range-container {
  display: flex;
}

.date-range-input-text:nth-child(2) {
  margin-left: 1rem;
}
