.datastore-list-container {
  background: $grey-6;
  border-bottom: solid 2px $grey-5;
  text-align: center;
}

.datastore-scroll-container {
  position: relative;
}

.datastore-list {
  display: inline-flex;
  margin: 0 0.5rem;
}

.datastore-scroll-x {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
}

.datastore-scroll-gradient {
  background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(248,248,248,0)),color-stop(100%,rgba(248,248,248,1)));
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  z-index: 2;
}

.datastore-item {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.datastore-item-link {
  display: inline-block;
  color: $grey-2;
  padding: 0.5rem;
  padding-top: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-bottom: solid 2px transparent;
}

.datastore-item-active {
  border-bottom: solid 2px $main-3;
  color: $main-3;
}

.datastore-item-link:not(.datastore-item-active) {
  svg g {
    fill: $grey-4;
  }
}

.datastore-item-content-wrap {
  display: flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}
