.favorites-authentication {
  display: flex;
  white-space: nowrap;
}

.favorite-icon {
  margin-right: 0.25rem;
  margin-bottom: -2px;
  width: 1.2rem;
  height: 1.2rem;
}

.favorite-tags-container {
  
}

.favorite-tags-label {
  margin-right: 0.5rem;
  font-weight: 600;
}

.favorite-tags {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.favorites-add-tag {
  svg {
    width: 0.6rem;
    margin-bottom: -2px;
    margin-right: 0.25rem;
  }
}

.favorite__add-tag-modal {
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.24);
  padding: 1rem;
  border: solid 1px $grey-4;
}

.add-tag-heading {
  display: block;
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.add-tag-fieldset {
  margin: 0;
  margin-bottom: 1.5rem;

  label {
    margin-bottom: 0.25rem;
  }
}
