.feedback-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.feedback-link {
  margin-right: 0.25rem;
}

.feedback-form {
  position: relative;
  background: white;
  border-radius: 4px;
  @include box-shadow();
  padding: 1.5rem 2rem;
  margin-bottom: 2rem;
}

.feedback-form-fieldset {
  max-width: 32rem;
}

.feedback-heading {
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 4rem;
}

.feedback-options {
  @media (min-width: $breakpoint-3) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  p {
    margin: 0;
  }
}

.feedback-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: underline;
}

.feedback-qualtrics-link {
  text-decoration: underline;
}
