.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-list-heading {

}

.filter-item {
  padding: 0;
  margin: 0;
}

.filter-button {
  // reset default button styles
  background: none;
  outline: none;
  border: none;
  text-align: left;
  padding: 0;

  width: 100%;
  padding: 0.5rem;
  margin: 0 -0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: $main-5;
  }
}

.filter-value {
  margin-right: 0.5rem;
  color: $main-3;
}

.filter-count {
}

.filter-active .filter-button {
  background: $main-3;

  .filter-value,
  .filter-count {
    color: white;
  }
}
