.filter-groups {
    margin-top: 1rem;
}

.filter-group {
  background: white;
  padding: 1rem 1.5rem;
  border-bottom: solid 2px $grey-7;
  border-radius: 4px;
}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-heading {
  font-size: 1.3rem;
}

.filter-list-heading {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.filter-item {
  padding: 0;
  margin: 0;
}

.filter-button {
  // reset default button styles
  background: none;
  border: none;
  text-align: left;
  padding: 0;

  width: 100%;
  padding: 0.2rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: $main-5;
  }
}

.filter-value {
  margin-right: 0.5rem;
  color: $main-3;
}

.filter-active .filter-button {
  padding: 0.5rem 0.75rem;
  background: $main-3;
  border-radius: 4px;

  .filter-value,
  .filter-count {
    color: white;
  }
}
