.site-header-container {
  position: relative;
}

.header-menu-small-screen-summary-button {
  color: white;
  position: absolute;
  top: 0;
  right: 0;

  &::-webkit-details-marker {
    color: white;
  }
}
