.holding-detail {
  margin-right: 1rem;

  &:empty {
    display: none;
  }
}

.holding-detail-location {
  font-weight: 600;
}

.holding-detail-label {
  font-weight: 600;
  margin-right: 0;

  &:after {
    content: ':';
  }
}
