.holdings {
  background: $grey-6;
  border-top: solid 1px $grey-5;
  margin: -2rem;
  margin-top: 1.5rem;
  padding: 2rem;
  border-radius: 0 0 4px 4px;
}

.holding-group-heading {
  margin-top: 0;
  font-weight: 600;
  font-size: 1.25rem;
}

.holding-table {
  border: none;
  padding: 0;

  thead {
    background: none;
    font-weight: 600;
    color: $grey-2;
    font-size: 0.8125rem;
  }

  tr {
    border: none;
  }

  td, th {
    padding: 0;
  }
}

.holding-field {
  vertical-align: middle;
}

.holding-link {
  @media (min-width: $breakpoint-2) {
    white-space: nowrap;
  }
}

.holding-table-field {
  display: inline-block;
  padding: 0.5rem 0;
}

.holdings-show-all-button {
  font-size: 0.875rem;
}
