@mixin table-inline() {
  thead {
    display: none;
  }

  tr {
    display: block;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      border-bottom: solid 1px $grey-5;
      padding-bottom: 0.5rem;
    }
  }

  td {
    width: auto;
  }

  tbody td {
    display: inline-block;
    border: none;
  }
}

.holdings {
  background: $grey-6;
  border-top: solid 1px $grey-5;
  padding: 2rem;
  border-radius: 0 0 4px 4px;
}

.holding-group:not(:last-child) {
  margin-bottom: 2rem;
}

.holding-group-heading-container {
  display: flex;
  align-items: center;
}

.holding-group-heading {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  margin-right: 1rem;

  @media (max-width: $breakpoint-2) {
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
}

.holding-group-info-link {
  display: inline-block;
  text-decoration: underline;
}

.holding-table {
  border: none;
  padding: 0;
  margin: 0;

  thead {
    background: none;
    color: $grey-2;
    font-size: 0.8125rem;
  }

  tr {
    border: none;
  }

  tbody {
    td:first-child {
      white-space: nowrap;
    }

    tr:last-child td {
      border: none;
    }

    td {
      border-bottom: solid 1px $grey-5;
    }
  }

  td, th {
    padding: 0;
    vertical-align: middle;
  }

  //trying to make table column widths more consistent
  td {
    width: 20%;
  }

  @media (max-width: $breakpoint-2) {
    @include table-inline();
  }
}

.holding-link {
  text-decoration: underline;
}

.holding-value-na {
  color: $grey-3;
}

.holding-table-field {
  display: inline-block;
  margin-right: 1rem;

  @media (min-width: $breakpoint-2) {
    padding: 0.5rem 0;
  }
}

.holdings-show-all-button {
  font-size: 0.875rem;
  color: $grey-3;
  margin-top: 0.75rem;
}

.holdings-condensed {
  .holdings {
    margin: 0;
    padding: 1.5rem 2rem;

    @media (max-width: $breakpoint-1) {
      padding: 1.5rem;
    }
  }

  .holding-group-heading {
    font-size: 1rem;
  }

  .holding-table {
    td, th {
      vertical-align: top;
    }
  }

  .holding-group:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  .holding-button {
    background: none;
    padding: 0;
    color: $main-3;
    border: none;
    text-decoration: underline;
  }

  .holdings-show-all-button {
    border: none;
    padding: 0;
    color: $grey-3;
    border-bottom: solid 1px $grey-4;
    border-radius: 0;
    margin-top: 0;

    &:hover {
      border-color: $grey-3;
    }
  }
}

.bentobox {
  .holdings {
    padding: 1rem 1.5rem;
  }

  .holding-table {
    @include table-inline();

    tbody {
      td {
        border: none;
      }

      .holding-table-field {
        padding: 0;
      }
    }
  }
}

.holding-summary-text {
  margin-bottom: 0;
  margin-top: 0.5rem;
}
