.landing-container {
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 1.5rem;
  border-radius: 4px;
  max-width: 28rem;
  line-height: 1.6;

  p {
    font-size: 1.25rem;
  }

  .landing-heading-text {
    padding-bottom: 1.5rem;
    border-bottom: solid 4px $grey-4;
    margin-top: 0;
    color: $grey-2;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6;

    b {
      color: $grey-1;
    }
  }

  p:not(.landing-heading-text) {
    color: $grey-2;
    padding-top: 1rem;
  }

  a {
    text-decoration: underline;
  }
}

.landing-icons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;

  svg {
    margin: 0 1rem;
  }

  .icon {
    width: 2.5rem;
    height: 2.5rem;

    g {
      color: $main-3;
    }
  }
}

.landing-extra-info {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;


  a {
    font-size: 1rem;
    border-bottom: solid 2px rgba($main-3, 0.5);
  }
}
