.landing-container {
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 1.5rem;
  border-radius: 4px;
  max-width: 28rem;
  line-height: 1.6;

  p {
    font-size: 1.25rem;
  }

  .landing-heading-text {
    padding-bottom: 1.5rem;
    border-bottom: solid 4px $grey-4;
    margin-top: 0;
    color: $grey-2;

    b {
      color: $grey-1;
    }
  }

  p:not(.landing-heading-text) {
    color: $grey-3;
    padding-top: 1rem;
  }

  p a {
    border-bottom: solid 2px rgba($main-3, 0.5);
  }
}

.landing-icons {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  svg {
    margin: 0 1rem;
  }
}

.landing-mirlyn-classic {
  text-align: center;

  a {
    font-size: 1rem;
  }
}
