.lists-link-container {
  outline: solid 2px rgba($main-3, 0.6);

  @media (min-width: $breakpoint-1) {
    position: sticky;
    top: 2px;

    @include box-shadow();
  }
}

.lists-link-container--collapsed {
  display: none;
}

.lists-link {
  background: $main-6;
  padding: 1rem 2rem;
  display: block;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .icon {
    display: inline-block;
    margin-right: 1rem;

    g {
      fill: $main-3;
    }
  }

  p {
    display: inline-block;
    margin: 0;
    color: $grey-1;
  }

  .lists-count-tag {
    color: white;
  }

  .underline {
    color: $main-3;
  }
}

.lists-info {
  display: inline-flex
}

.lists-count-tag {
  color: white;
  white-space: nowrap;
  margin: 0;
}

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  margin-bottom: 1rem;
}

.lists-back-to-search-link {
  display: inline-flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.lists-section {
  background: $grey-6;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;

  @media (min-width: $breakpoint-1) {
    padding: 1rem 2rem;
  }
}

.lists-actions-heading {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.lists-heading {
  margin-bottom: 0;
}

.lists-actions-list {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $main-3;
  }
}

.lists-count-summary {
  color: $grey-2;
}

.lists-header-info {
  display: inline-flex;
}

.lists-remove-all {
  margin-right: 1rem;
  color: $grey-3;
}

.lists-action-button {
  border: none;
  padding: 0.5rem 1rem;
  border: solid 1px transparent;
  border-radius: 4px;
  text-decoration: underline;
}

.lists-action-button--active {
  border-color: $main-3;
  background: $main-5;
}

.lists-action-form {
  display: flex;
  margin-top: 1rem;
  max-width: 32rem;
  align-items: flex-end;

  .button {
    margin-left: 1rem;
  }
}

.lists-action-field-container {
  width: 100%;
}

.lists-action {
  padding: 1rem 0;
}

.lists-action-alert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
