.lists-link-container {
  outline: solid 2px rgba($main-3, 0.6);
  z-index: 99;

  @media (min-width: $breakpoint-1) {
    position: sticky;
    top: 2px;

    @include box-shadow();
  }
}

.lists-link-container--collapsed {
  display: none;
}

.lists-link {
  background: $main-6;
  padding: 0.5rem 1.25rem;
  display: block;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  .icon {
    display: inline-block;
    margin-right: 1rem;

    g {
      fill: $main-3;
    }
  }

  p {
    display: inline-block;
    margin: 0;
    color: $grey-1;
  }

  .lists-count-tag {
    color: white;
  }

  .underline {
    color: $main-3;
  }
}

.lists-info {
  display: inline-flex
}

.lists-count-tag {
  color: white;
  white-space: nowrap;
  margin: 0;
  background: $main-2;
  padding: 0 0.2rem;
  border-radius: 4px;
}

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.lists-back-to-search-link {
  display: inline-flex;
  align-items: center;

  .icon {
    margin-right: 0.5rem;
  }
}

.lists-section {
  background: $grey-6;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.full-record-actions {
}

.lists-actions-heading {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.lists-heading {
  margin-bottom: 0;
}

.lists-actions-list {
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: $main-3;
  }
}

.lists-count-summary {
  color: $grey-2;
}

.lists-header-info {
  display: inline-flex;
}

.lists-remove-all {
  margin-right: 1rem;
  color: $grey-2;
}

.lists-action-button {
  border: none;
  padding: 0.5rem 0.75rem;
  border: solid 1px transparent;
  border-radius: 4px;
  line-height: 1.2;
  margin-right: 0.25rem;
  color: $grey-1;

  display: flex;
  flex-direction: column;
  align-items: center;

  .icon {
    margin-bottom: 0.2rem;
    color: $grey-2;
    width: 1.1rem;
    height: 1.1rem;
  }
}

.lists-action-button--active {
  border-color: $main-3;
  background: $main-5;
  color: $main-3;

  .icon {
    color: $main-3;
  }
}

.lists-action-form {
  display: flex;
  margin-top: 1rem;
  max-width: 100%;
  width: 24rem;
  align-items: flex-end;

  & > * {
    margin-right: 1rem;
  }
}

.lists-action-field-container {
  width: 100%;
}

.lists-action {
  padding: 0;
  margin-top: 1rem;

  .react-tabs__tab--selected {
    border-bottom-color: $grey-6;
  }
}

.full-record__actions-container {
  background: $grey-6;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  order: 1;

  .lists-action {
    margin-top: 0.5rem;
  }
}

.lists-actions__heading-tag {
  font-weight: 400;
  margin-left: 1rem;
}

.full-record__actions-heading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;

  text-align: center;
}

.lists-action-alert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 1rem;

  p {
    margin: 0;
  }
}
