.marc__heading {
  font-size: 1rem;
}

.marc__table {
  background: white;
  font-family: monospace;
  vertical-align: top;
  font-size: 0.875rem;

  tr:nth-child(even) {
    background: $grey-6;
  }

  max-width: 100%;
  overflow-x: scroll;

  td {
    vertical-align: top;
  }

  td:not(:first-child):not(:last-child) {
    padding-left: 0;
  }
}

.marc__field-name {
  color: $grey-2;
}

.marc__subfield {
  display: inline-block;
  padding-right: 0.5rem;
  word-break: break-word;
}

.marc__ind {
  margin-right: 1rem;
}

.marc__ind1 {
  margin-right: 1rem;
}
