.multiselect {
  border-radius: 4px;
}

input.multiselect-search {
  font-size: 0.937rem;
}

.multiselect-options {
  margin: 0;
  margin-top: 1rem;

  border: solid 1px $grey-4;
  border-radius: 4px;
  padding: 0.5rem;
  background: white;

  height: 18rem;
  overflow-y: scroll;

  .checkbox-label {
    display: flex;
    font-size: 0.937rem;
    cursor: pointer;
    padding-right: 1rem;
  }
}

.multiselect-options-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.multiselect-options-list-item {
  margin: 0;
  padding: 0;
}

.multiselect-show-checked-toggle {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
