body {
  background: white;
}

.flex-container {
  display: block;

  @media (min-width: $breakpoint-3) {
    display: flex;
  }
}

.side-container {
  width: 100%;
  margin-right: 1rem;

  @media (min-width: $breakpoint-3) {
    width: 24rem;
  }
}

.grey-background {
  background: $grey-5;
}

.page {
  background: white;
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  @include box-shadow();

  @media (max-width: $breakpoint-2) {
    padding: 1.5rem;
  }
}

.main-container {
  background: $grey-7;
  padding-bottom: 3rem;
}
