body {
  background: $grey-7;
}

.flex-container {
  display: flex;
}

.side-container {
  width: 24rem;
  margin-right: 1rem;
}

.main-container {
  width: 100%;
}

.grey-background {
  background: $grey-5;
}

@media (max-width: 40rem) {
  .flex-container {
    display: block;
  }

  .side-container {
    width: 100%;
  }
}
