.party-parrot-container {
  cursor: pointer;
}



.party-parrot {
  opacity: 0;
  vertical-align: top;
  margin-left: .3rem;
  width: 1.5rem;
  transition: opacity .2s ease-in-out;
}

.party-parrot.party {
  opacity: 1 !important;
}

.party-parrot-container:hover .party-parrot {
  opacity: 0.3;
}
