
@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -100vw 0;
  }

  100% {
    background-position: 100vw 0;
  }
}

.placeholder-container {
  margin-bottom: 1rem;
}

$shim-bg: rgba($grey-5, 0.6);
$shim: $grey-5;

.placeholder {
  background: linear-gradient(to left, $shim-bg 20%, $shim 50%, $shim-bg 80%);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 25s;

  vertical-align: middle;

  height: 0.6rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.access-placeholder-container {
  width: 100%;

  .placeholder {
    margin-bottom: 0;
  }
}

.placeholder-title {
  height: 1rem;
  max-width: $breakpoint-1;;
  margin-bottom: 2rem;

  background: linear-gradient(to left, $main-6 20%, $main-5 50%, $main-6 80%);
}

.placeholder-line {
  max-width: 22rem;
}

.placeholder-line-alt {
  max-width: 18rem;
}

.placeholder-inline {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  margin-right: 1rem;
}

.placeholder-access {
  max-width: 12rem;
  background: linear-gradient(to left, $main-6 20%, $main-5 50%, $main-6 80%);
}
