.radio-label {
  background: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: solid 1px $grey-4;
  border-radius: 4px;
  display: inline-block;
  margin-right: 1rem;

  &.radio-selected {
    background: $main-5;
    border-color: $main-3;
    color: $main-2;
  }
}

.radio-input {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  opacity: 0;
}

.radio-input:focus + .radio-label {
  @include focus();
}
