.record-preview {
  margin: 0;
  padding: 0.75rem 1rem;
  background: white;
  border-bottom: solid 1px $grey-4;
}

.record-preview-heading {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;

  .icon {
    color: $grey-2;
    width: 0.85rem;
    margin-right: 0.25rem;
  }
}

.record-preview-title-link {
  margin-right: 0.25rem;
}

.record-preview-published-date {
  color: $grey-2;
}

.record-preview-format-and-author {
  margin: 0;
}

.record-preview-about {
  margin: 0;
  color: $grey-2;
}

.record-preview-link {
  display: inline-block;
  margin-top: 0.5rem;
}

.record-preview-format-list {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.record-preview-format {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: $grey-1;
  margin-right: 0.5rem;

  .icon {
    color: $grey-2;
    margin-right: 0.2rem;
    margin-bottom: -0.1rem;
  }
}

.record-preview-author {
  color: $grey-1;
}

.record-preview-format-list + .record-preview-author {
  &:before {
    content: '\00b7';
    font-weight: 600;
    margin-right: 0.4rem;
  }
}

.record-preview-description {
  margin: 0;
  color: $grey-2;
}

.record-preview-placeholder {
  padding: 1.5rem 1rem;
}

.record-placeholder-last {
  margin-bottom: 0;
}

/*
  Record Preview Fields
*/

.record-preview__fields {

}

.record-preview__field {
  color: $grey-2;
}

.record-preview__field-name {
  display: inline-block;
  font-weight: 400;

  &:after {
    content: ":";
    padding-right: 0.25rem;
  }
}

.record-preview__field-value {
  display: inline-block;
}
