.record-container {
  position: relative;
}

.record--highlight {
  outline: solid 2px rgba($main-3, 0.6);
}

.add-to-list-checkbox-container {
  position: absolute;
  top: 1.15rem;
  left: 0;

  .checkbox {
    margin: 0;
    padding: 0.75rem;
    padding-left: 1rem;
  }

  .icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}