/*
  Record
*/

.record {
  padding: 1rem 0;
  margin: 0;
}

.record-title {
  font-weight: 600;
  font-size: 1.1rem;
  text-decoration: none;
  margin: 0;
  margin-bottom: 0.5rem;

  a:hover {
    background: $main-5;
  }
}

.record-field {

}

.record-field-name {

}

.record-field-name:after {

}

.record-field-value {
  margin-left: 2rem;
}

/*
  Full Record Specific
*/


.full-record-container {
  padding: 1rem 0;
}

.full-record-title {
  font-size: 1.5rem;
}
