/*
  Record
*/

.record {
  margin: 0;
  padding: 0;
  background: white;
  @include box-shadow();
}

.record-container {
  padding: 1.5rem;

  @media (min-width: $breakpoint-1) {
    padding: 2rem;
  }
}

.record-title {
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0;
}

.record-title-link {
  border-bottom: solid 2px rgba($main-3, 0.4);

  &:hover {
    background: $main-5;
  }
}

.record-field-list {
  margin-top: 1rem;

  .record-field:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  @media (min-width: $breakpoint-2) {
    display: table;
    width: 100%;

    .record-field {
      display: table-row;
    }

    .record-field-name {
      display: table-cell;
      width: 11rem;

      padding-right: 1rem;
      color: $grey-2;
      font-weight: 400;

      &:after {
        content: none;
      }
    }

    .record-field-value {
      display: table-cell;
      word-break: break-word;
    }
  }
}

.record-field-name {
  padding-right: 0.25rem;
  font-weight: 600;
  color: $grey-1;
  display: block;
}

.record-field-value {
  display: block;
}

/*
  Full Record Specific
*/

.full-record-container {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background: white;
  border-bottom: solid 2px $grey-5;
  border-radius: 4px;
  @include box-shadow();

  .record-field-list {
    margin-bottom: 2rem;
  }

  @media (min-width: $breakpoint-2) {
    .record-field-list {
      .record-field {
        dt, dd {
          padding: 0.5rem 1rem;
        }
      }
      .record-field:nth-child(even) {
        background: $grey-6;
      }
      .record-field:nth-child(odd) {
        background: $grey-7;
      }
    }
  }
}

.full-record-header {
  background: $main-5;
  padding: 1rem 2rem;
  min-height: 3.68rem;

  p {
    margin: 0;
    color: $main-3;
  }
}

.full-record-title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1.5rem;

  @media (min-width: $breakpoint-1) {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

/*
  Record special fields
*/

// Field icons (e.g. format)
.record-field-value .icon {
  display: inline-block;
  margin-right: 0.3rem;

  g {
    fill: $grey-3;
  }
}
.record-field-uid-format .record-field-value-item {
  margin-right: 1rem;
}

@media (min-width: $breakpoint-2) {
  .record-field-uid-format .record-field-name {
    padding-bottom: 0.5rem;
    margin-right: 0.5rem;
  }
}
