.record-medium-container {
  .record-actions {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  @media (min-width: $breakpoint-1) {
    display: flex;
    justify-content: space-between;

    .record-actions{
      margin-top: 0;
    }
  }
}

.record-actions {
  list-style: none;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  min-width: 11rem;

  li {
    margin: 0;
    padding: 0;
    margin-bottom: 0.25rem;
  }

  .icon {
    margin-right: 0.25rem;
    margin-bottom: -2px;
    fill: currentColor;
    width: 1.2rem;
  }
}

.record--highlight {
  outline: solid 2px rgba($main-3, 0.6);
}
