@media (min-width: $breakpoint-2) {
  .record-medium-container {
    display: flex;
    justify-content: space-between;
  }
}

.record-actions-container {
  display: inline-block;
  white-space: nowrap;
  margin-top: 1rem;


  @media (min-width: $breakpoint-2) {
    margin-top: 0;
    margin-left: 2rem;
  }

  .button-link {
    color: $grey-3;
    display: flex;
    align-items: center;

    & > span {
      font-size: 0.9rem;
      text-decoration: underline;
    }

    .icon {
      height: 0.9rem;
      margin-right: 0.5rem;
      margin-bottom: -0.05rem;
    }
  }
}

.record--highlight {
  outline: solid 2px rgba($main-3, 0.6);
}
