/*
  Record
*/

.record {
  padding: 1rem 0;
  margin: 0;
}

.record-title {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0;
}

.record-title-link {
  border-bottom: solid 2px rgba($main-3, 0.4);

  &:hover {
    background: $main-5;
  }
}

.record-field-list {
  margin-top: 1rem;
}

.record-field {
  display: flex;
  flex-wrap: wrap;
}

.record-field-name {
  width: 14%;
  font-weight: 400;
  color: $grey-2;
  flex-grow: 1;
}

.record-field-value {
  width: 86%;
  flex-grow: 1;
  word-wrap: break-word;
}

/*
  Full Record Specific
*/


.full-record-container {
  margin-top: 1rem;
  padding: 2rem;
  background: white;
  border-radius: 4px;
}

.full-record-title {
  font-size: 1.5rem;
  margin-top: 0;
}

/*
  Access
*/

.callnumber {
  margin-right: 1rem;
  font-weight: 600;
}

.access-container {
  margin-top: 1rem;
  //background: $grey-6;
  //padding: 0.5rem 1rem;
  //border: 1px solid #F2F2F2;
  //border-radius: 4px;
  //margin: 1rem -1rem -1rem -1rem;
}

.access-line {
  margin: 0;
}

.access-text {
  margin-right: 0.5rem;
  font-weight: 600;
}

.access-link {
  font-weight: 400;
}

.access-availability {
  display: block;
  font-size: 0.9rem;
  font-weight: 600;
  color: $grey-2;
}
