.resource-access-container {
  background: $grey-6;
  padding: 0.75rem 1.5rem;
  padding-left: 2.5rem;
  align-items: center;
  border-top: solid 1px $grey-5;
  border-radius: 0 0 4px 4px;

  a {
    text-decoration: underline;
  }
}