/*
  Multiple results container // aka Bento box
*/

.results-container {
  width: 100%;
}

.results-list {
  margin: 0;
  list-style: none;
}

/*
  Search Summary // Records List Bar
*/

.results-summary-container {
  margin-bottom: 0.75rem;
  padding: 0.5rem 1.25rem;
  background: white;
  background: $grey-6;
  border-radius: 4px;

  & > * {
    margin-top: 0.5rem;
  }

  @media (min-width: $breakpoint-1) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > * {
      margin-top: 0;
    }
  }
}

.no-results-suggestions {
  background: $grey-6;
  border-radius: 4px;
  padding: 1rem 2rem;

  h2 {
    font-size: 1rem;
    font-weight: 600;
  }

  li {
    margin: 0;
    color: $grey-2;
  }
}

.pagination-container {
  padding: 1rem 1.5rem;
  background: white;
  background: $grey-6;
  margin-bottom: 3rem;
  margin-top: 1rem;

  @media (min-width: $breakpoint-1) {
    padding: 1rem 2rem;
  }

  .button-secondary,
  .results-summary {
    margin-right: 1rem;
  }

  border-radius: 4px;

  .results-summary {
    @media (max-width: $breakpoint-2) {
      padding: 0;
      display: block;
    }
  }
}

.results-summary {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
}

.previous-page {

}

.records-summary {
  padding: 0 1rem;
}

.next-page {

}
