/*
  Multiple results container // aka Bento box
*/

.results-list {
  margin: 0;
  list-style: none;
  background: white;
}

.results-list-border li {
  border-bottom: solid 2px $grey-7;
  padding: 2rem;
}

/*
  Search Summary // Records List Bar
*/

.results-summary-container {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-bottom: solid 2px $grey-7;
  background: white;
  border-radius: 4px 4px 0 0;
  background: $grey-6;
}

.results-summary {
  padding-right: 1rem;
}

.pagination-container {
  padding: 1rem 2rem;
  border-bottom: solid 2px $grey-7;
  background: white;
  border-radius:  0 0 4px 4px;
  background: $grey-6;
  margin-bottom: 2rem;

  .results-summary {
    padding: 0 1rem;
  }
}

.previous-page {

}

.records-summary {
  padding: 0 1rem;
}

.next-page {

}
