.search-box-container-full {
  background: $main-5;
  border-bottom: solid 2px $main-4;
}

.search-box-container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto;
}

.search-box-form {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint-1) {
    display: block;
  }
}

.search-box {
  display: flex;
  width: 100%;
}

.search-box-advanced {
  text-align: center;
  @media (max-width: $breakpoint-1) {
    margin-bottom: -0.75rem;
    margin-top: 0.25rem;
  }
}

.search-box-advanced-link {
  margin-left: 1rem;
  display: inline-block;
  font-weight: 600;

  @media (max-width: $breakpoint-1) {
    font-size: 0.9rem;
    flex: 0 1 100%;
    margin: 0;
  }
}

.search-box-button {
  margin-left: 0.75rem;
  margin-right: 0;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 1rem;

  @media (min-width: $breakpoint-1) {
    .icon {
      align-self: center;
    }
  }
}

.search-box-button-text {
  font-weight: 600;
  @media (max-width: $breakpoint-1) {
    position: absolute;
    left: -999em;
  }
}
