.search-box-container-full {
  background: $main-5;
  padding: 1rem 0;
  border-bottom: solid 2px $main-4;
}

.search-box-container {
  max-width: 46rem;
}

.search-box {
  display: flex;
}

input.search-box-input {
  padding: 0.6rem 1rem;
  border: 1px solid rgba($main-3,0.4);
}

.search-box-button {
  margin-left: 1rem;
  margin-right: 0;
}
