.site-footer {
  /* keep it to the bottom */
  background: white;
  border-top: solid 2px $grey-5;
  color: $grey-2;

  p {
    margin: 0;
  }

  a {
    color: $grey-2;
  }

  // enough room for opened chat widget to not cover footer content.
  padding-bottom: 5rem;
}
