.site-footer {
  color: white;

  p {
    margin: 0;
  }

  a {
    color: white;
  }

  @media (min-width: $breakpoint-3) {
    // enough room for opened chat widget to not cover footer content.
    padding-bottom: 4rem;
  }

  position: absolute;
  bottom: 0;
  width: 100%;
}
