.specialists {

}

.specialists__inner-container {
  border-radius: 4px;
  background: white;

  .show-all-button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    border: none;
  }
}

.bentobox-list {
  .specialists__inner-container {
    @include box-shadow();
  }
}

.specialists__heading {
  font-size: 1rem;
  margin: 0;
  padding: 0.75rem 1rem;
  color: $grey-2;
  background: $grey-6;
  border-bottom: solid 1px $grey-5;
  border-radius: 4px 4px 0 0;
}

.specialist {
  display: flex;
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px $grey-5;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.specialist__picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;

  // Keeps aspect ratio
  object-fit: cover;
  object-position: top right;
}

.specialist__job-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: $grey-2;
}

.specialist__heading {
  font-size: 1.1rem;
  margin: 0;

  .icon {
    color: $grey-3;
    width: 0.85rem;
  }
}

.specialist__url {
  margin-right: 0.5rem;
}

.specialist__phone {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.specialist__email {
  text-decoration: underline;
}

.search-results {
  @media (min-width: $breakpoint-3) {
    .specialists__content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 1rem;

      .specialist {
        width: 33.33%;
        border-bottom: none;
        margin: 0;
        padding-right: 1rem;
        padding-top: 1rem;
      }

      .show-all-button {
        width: 100%;
        text-align: center;
        text-decoration: underline;
        margin-left: -0.5rem;
      }
    }
  }
}
