.switch {
  margin: 0;
}

.switch-legend {
  text-align: center;
}

.switch-options {
  display: flex;
  flex-wrap: wrap;
  @media (min-width: $breakpoint-1) {
    justify-content: center;
  }
}

.switch-option {
  background: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
  cursor: pointer;
  border: solid 1px $grey-4;
  margin: 0;

  &:not(:first-child):not(:last-child) {
    border-left: none;
  }

  &:last-child:not(:first-child) {
    border-left: none;
  }

  &:first-child {
    border-radius: 4px 0 0 4px;
  }

  &:last-child {
    border-radius: 0 4px 4px 0;
  }

  &:last-child:first-child {
    border-radius: 4px;
  }

  &.active {
    font-weight: 600;
  }
}

.switch-option + .switch-option-selected {
  margin-left: -1px;
}

.switch-option-selected {
  border: solid 1px $green-2 !important;
  color: $green-1;
  background: $green-3;
}

.switch-option-label-text {

}

.switch-option-input {
  display: none;
}
