.trim-string-button {
  margin: 0;
  font-size: 0.85rem;
  border: none;
  color: $grey-2;
  border: solid 1px $grey-4;
  border-radius: 3px;
  padding: 0 0.5rem;
  line-height: 1.5;
  background: white;
  cursor: pointer;
}

.trim-string-text {
  margin-right: 0.5rem;
}
