
.zigzag-end {
  @media (min-width: $breakpoint-2) {
    background-image: url('/static/css/zigzag.svg');

    height: 1rem;
    width: 100%;

    background-repeat: repeat-x;
    margin-top: -20px;
    margin-bottom: 0.75rem;
  }
}
