.focus-outline-white {
  outline-color: white;
}

@mixin focus () {
  outline: 3px solid transparentize($u-m-yellow, 0.1);
  outline-offset: 0;
  transition: outline 0.05s ease-out;
}

*:focus {
  @include focus();
}

.offscreen {
  position: absolute;
  left: -999em;
}
