.focus-outline-white {
  outline-color: white;
}

@mixin focus () {
  outline: 3px solid transparentize($u-m-yellow, 0.1);
  outline-offset: 0;
  transition: outline 0.05s ease-out;
}

.offscreen {
  position: absolute;
  left: -999em;
}

.skip-to-id {
  position: fixed;
  left: -999px;

  &:focus {
    left: 0.5rem;
    top: 0.5rem;
    background: $main-2;
    text-decoration: underline;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
  }
}
