.alert {
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;

  border: solid 1px $grey-5;
  background: $grey-6;
  border-radius: 4px;
}

.alert-success {
  background: $green-3;
  border-color: $green-2;
}

.alert-info {
  background: $main-5;
  border-color: $main-4;
}

.alert-warning {
  background: $orange-3;
  border-color: $orange-2;
}

.alert-danger {
  background: $red-3;
  border-color: $red-2;
}

.alert *:first-child {
  margin: 0;
}
