.site-min-width {
  min-width: 20rem;
}

.container {
  margin: 0 auto;
  padding: 0 1rem;
}

.container-narrow {
  max-width: 51rem;
}

.container-medium {
  max-width: 80rem;
}

.container-fluid {
  padding: 0 1rem;
}

.container-large {
  @media (min-width: 80rem) {
    max-width: 140rem;
  }
}

body {
  //background: #e5e5e5;
}
