.button {
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.65rem;
  padding-bottom: 0.55rem;
  background: $main-3;
  color: #fff;
  font-size: $font-size-base;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid $main-2;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

.button:active {
  color: $grey-6;
  background: $main-2;
  border-color: $main-1;
}

.button:active,
.button:hover {
  text-decoration: none;
}

.button-disabled:hover,
.button-disabled:active {
  cursor: not-allowed;
}

.button-light {
  background: $grey-5;
  color: $grey-2;
  border-color: $grey-4;
}

.button-light:active {
  background: $grey-4;
  color: $grey-2;
  border-color: $grey-3;
}

.button-small {
  padding: 0.4rem 0.8rem;
}

.button-radio {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px $grey-4;
  background: $grey-6;
  border-radius: 4px;
  cursor: pointer;
}

.button-link {
  border: none;
  display: inline-block;
  margin: 0;
  color: $main-3;
  background: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
}

.button-link-light {
  background: none;
  border: none;
  padding: 0;
  color: $grey-2;
  font-size: 0.9rem;

  border: solid 2px $grey-4;
  border-radius: 4px;
  padding: 0.5rem 0.8rem;

  &:hover {
    cursor: pointer;
  }
}
