.site-footer {
  background: $main-1;
  padding: 1.5rem 0;
  color: white;

  a {
    color: white;
    text-decoration: underline;
  }
}

.site-footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 1.5rem;
  }
}
