.site-header {
  background: $main-1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.site-header-container {
  @media (min-width: $breakpoint-1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-item-list {
  margin: 0;
  padding: 0;
  list-style: none;

  align-items: center;
  display: flex;

  li {
    display: inline-block;
    margin: 0;
    height: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.logo-link {
  display: inline-block;
  vertical-align: top;
  height: 2rem;

  img {
    height: 100%;
    width: auto;
  }
}

.logo-block-m {
  padding-right: 0.75rem;
  padding-left: 0;
}

.logo-library,
.logo-search {
  font-size: 1.5rem;
  color: white;
  padding-left: 0.75rem;
}

.logo-search a {
  color: white;
}

.logo-library {
  border-right: solid 1.2px rgba(white, 0.7);
  border-left: solid 1.2px rgba(white, 0.7);
  padding-right: 0.75rem;

  a {
    color: rgba(white, 0.7);
  }
}

@media (max-width: $breakpoint-2) {
  .logo-item-list li,
  .logo-link {
    height: 1.8rem;
  }

  .logo-library,
  .logo-search {
    font-size: 1.3rem;
    color: white;
    padding-left: 0.8rem;
  }

  .logo-library,
  .logo-block-m {
    padding-right: 0.8rem;
  }
}

.site-header-link {
  color: white;
}

.site-header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;

  @media (min-width: $breakpoint-1) {
    margin: 0;
  }

  li {
    margin: 0;
    padding: 0;
    
    @media (min-width: $breakpoint-1) {
      display: inline-block;
    }

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  a:hover {
    text-decoration: underline;
  }
}
