.site-header {
  background: $main-1;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.mlibrary-link,
.umich-link {
  display: inline-block;
  height: 2.2rem;
  vertical-align: top;

  img {
    height: 100%;
    width: auto;
  }
}

.umich-link {
  margin-right: 0.4rem;
}

.logo-item-list {
  margin: 0;
  padding: 0;
  list-style: none;

  align-items: center;
  display: flex;

  li {
    display: inline-block;
    margin: 0;
    height: 2rem;

    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
}

.logo-link {
  display: inline-block;
  vertical-align: top;
  height: 2rem;

  img {
    height: 100%;
    width: auto;
  }
}

.logo-block-m {
  padding-right: 1rem;
}

.logo-library,
.logo-search {
  font-size: 1.5rem;
  color: white;
}

.logo-library {
  border-right: solid 1px rgba(white, 0.5);
  border-left: solid 1px rgba(white, 0.5);
  color: rgba(white, 0.5);
  padding-right: 1rem;
}
