.site-message {
  background: $grey-6;
  border-bottom: solid 2px $grey-4;
  margin: 0;
  padding: 0.75rem 0;
  font-size: 0.9rem;

  p {
    margin: 0;
  }

  a {
    text-decoration: underline;
  }

  .tag {
    margin-right: 0.5rem;
  }
}
