.u-break-word {
  word-wrap: break-word;
}

.u-margin-top-none {
  margin-top: 0;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}

.margin-right-2 {
  margin-right: 2rem;
}

.underline {
  border-bottom: solid 1px $main-3;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}
