.u-break-word {
  word-wrap: break-word;
}

.u-margin-top-none {
  margin-top: 0;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}

.u-margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-right-2 {
  margin-right: 2rem;
}

.margin-top-2 {
  margin-top: 2rem;
}

.margin-y-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.underline {
  text-decoration: underline;
  //border-bottom: solid 1px $main-3;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none;
}

.offpage {
  position: absolute;
  left: -999em;
}

.hide {
  display: none;
}

.font-small {
  font-size: 0.85rem;
}

.text-center {
  text-align: center;
}
