.metadata-list {
  flex-direction: column;
}

.metadata-list-item > * {
  flex-grow: 1;
}

@media (min-width: 640px) {
  .metadata-list-item > dt {
    flex-shrink: 0;
    flex-basis: 10rem;
    max-width: 10rem;
  }
}

.metadata-details img {
  max-width: 16rem;
}

.metadata-details ol.list__unstyled > li {
  display: inline-block;
}
