.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0; }

.breadcrumb__item {
  display: inline-block;
  margin: 0;
  padding: 0; }
  .breadcrumb__item:not(:first-child):before {
    content: "/";
    margin: 0 0.5rem; }
  .breadcrumb__item a {
    text-decoration: underline; }
