/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.site-min-width {
  min-width: 20rem; }

.container {
  margin: 0 auto;
  padding: 0 1rem; }

.container-narrow {
  max-width: 51rem; }

.container-medium {
  max-width: 74rem; }

.container-fluid {
  padding: 0 1rem; }

@media (min-width: 80rem) {
  .container-large {
    max-width: 140rem; } }

/*
  Site
*/
html {
  font-size: 16px; }
  @media (max-width: 47rem) {
    html {
      font-size: 14px; } }

body {
  line-height: 1.6;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

/*
  Headings
*/
h1 {
  font-size: 1.87rem; }

h2 {
  font-size: 1.5rem; }

h1, h2 {
  font-weight: 600;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h3, h4 {
  font-weight: 600; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }

h5, h6 {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; }

/*
  Typography and Elements
*/
p {
  margin: 1rem 0; }

a {
  color: #126DC1;
  cursor: pointer;
  text-decoration: none;
  font-weight: inherit; }

*::selection {
  background: #CCE6FF; }

ol, ul {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  padding-left: 1rem;
  margin-top: 1rem; }

dt {
  font-weight: 600; }

table {
  width: 100%;
  border: solid 1px #E5E5E5;
  margin-top: 1rem;
  margin-bottom: 1rem; }

thead {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5; }

td, th {
  padding: 0.75rem 1rem; }

th {
  text-align: left;
  color: #6E6E6E; }

tr {
  border-bottom: solid 1px #E5E5E5; }

.table-compact table {
  border: none; }

.table-compact td, .table-compact th {
  padding: 0.25rem 0.5rem;
  font-size: 90%; }

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 0.5rem #126DC1;
  margin: 2rem 0;
  color: #126DC1;
  font-style: italic; }

b {
  font-weight: 600; }

sup {
  font-size: 0.6em;
  vertical-align: top; }

label {
  margin-bottom: 0.1rem;
  color: #333;
  display: block; }

.fieldset-label {
  font-weight: 700; }

input,
button,
textarea {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

input[type="text"] {
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  line-height: 1.4;
  width: 100%; }

input[type="text"]:disabled,
input[type="text"]:read-only {
  background: #FAFAFA;
  border-color: #CCC;
  color: #6E6E6E;
  cursor: not-allowed; }

fieldset {
  margin: 1rem 0; }

.help-text {
  margin: 0; }

fieldset.field-valid input[type="text"] {
  border-color: #05A657; }

fieldset.field-valid .help-text {
  color: #05A657;
  font-size: 0.9rem; }

fieldset.field-error input[type="text"] {
  border-color: #ED5D47; }

fieldset.field-error .help-text {
  color: #ED5D47;
  font-size: 0.9rem; }

fieldset.field-warning input[type="text"] {
  border-color: #E77504; }

fieldset.field-warning .help-text {
  color: #E77504;
  font-size: 0.9rem; }

textarea {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 100%; }

.button {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  background: #126DC1;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid #0C5292;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit; }

.button:active {
  color: #FAFAFA;
  background: #0C5292;
  border-color: #00274C; }

.button:active,
.button:hover {
  text-decoration: none; }

.button-secondary {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(18, 109, 193, 0.4);
  background: #F2F9FF;
  border-radius: 4px;
  color: #126DC1;
  line-height: inherit; }
  .button-secondary:hover {
    cursor: pointer; }

.button-disabled:hover,
.button-disabled:active {
  cursor: not-allowed; }

.button-light {
  background: transparent;
  color: #4E4E4E;
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  cursor: pointer; }

.button-small {
  padding: 0.4rem 0.8rem; }

.button-radio {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #CCC;
  background: #FAFAFA;
  border-radius: 4px;
  cursor: pointer; }

.button-link {
  border: none;
  display: inline-block;
  margin: 0;
  color: #0C5292;
  background: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  line-height: inherit;
  line-height: inherit; }

.button-link-light {
  background: none;
  border: none;
  padding: 0;
  color: #6E6E6E;
  line-height: inherit;
  text-align: left;
  border-bottom: solid 1px #CCC; }
  .button-link-light:hover {
    color: #4E4E4E;
    cursor: pointer;
    border-color: #6E6E6E; }

.button-small {
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem; }

nav {
  display: inline-block; }

.navigation {
  float: right; }

.navigation-list {
  margin: 0;
  padding: 0; }

.navigation-item {
  display: inline-block;
  margin-top: 0.25rem; }

.alert {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #E5E5E5;
  background: #FAFAFA;
  border-radius: 4px; }

.alert-success {
  background: #E2F4EB;
  border-color: #05A657; }

.alert-info {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-warning {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-danger {
  background: #FFEAE7;
  border-color: #ED5D47; }

.alert *:first-child {
  margin: 0; }

.site-message {
  background: #FAFAFA;
  border-bottom: solid 2px #CCC;
  margin: 0;
  padding: 0.75rem 0;
  font-size: 0.9rem; }
  .site-message p {
    margin: 0; }
  .site-message a {
    text-decoration: underline; }
  .site-message .tag {
    margin-right: 0.5rem; }

.site-header {
  background: #00274C;
  padding-top: 1rem;
  padding-bottom: 1rem; }

@media (min-width: 47rem) {
  .site-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center; } }

.logo-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex; }
  .logo-item-list li {
    display: inline-block;
    margin: 0;
    height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }

.logo-link {
  display: inline-block;
  vertical-align: top;
  height: 2rem; }
  .logo-link img {
    height: 100%;
    width: auto; }

.logo-block-m {
  padding-right: 1rem;
  padding-left: 0; }

.logo-library,
.logo-search {
  font-size: 1.5rem;
  color: white; }

.logo-search a {
  color: white; }

.logo-library {
  border-right: solid 1.2px rgba(255, 255, 255, 0.7);
  border-left: solid 1.2px rgba(255, 255, 255, 0.7);
  padding-right: 1rem; }
  .logo-library a {
    color: rgba(255, 255, 255, 0.7); }

@media (max-width: 47rem) {
  .logo-item-list li,
  .logo-link {
    height: 1.8rem; }
  .logo-library,
  .logo-search {
    font-size: 1.3rem;
    color: white;
    padding-left: 0.8rem; }
  .logo-library,
  .logo-block-m {
    padding-right: 0.8rem; } }

.site-header-list {
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 47rem) {
    .site-header-list {
      margin-top: 1rem;
      display: block; } }
  .site-header-list li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 2rem; }
    @media (max-width: 47rem) {
      .site-header-list li {
        display: block;
        margin-left: 0; } }
    .site-header-list li a {
      color: white; }

.site-footer {
  background: #00274C;
  padding: 1.5rem 0;
  margin-top: 3rem;
  color: white; }
  .site-footer a {
    color: white;
    text-decoration: underline; }

.callout {
  background: #F2F9FF;
  padding: 2rem 0;
  margin-bottom: 2rem; }

.no-margin {
  margin: 0; }

.white-text {
  color: white; }

.right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.light-text {
  opacity: 0.8;
  font-size: 90%; }

.center-text {
  text-align: center; }

.flex-space-between {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center; }

.tag {
  vertical-align: top;
  background: rgba(18, 109, 193, 0.8);
  padding: 0 0.25rem;
  border-radius: 2px;
  margin-right: 0.5rem;
  color: white; }

.focus-outline-white {
  outline-color: white; }

*:focus {
  outline: 3px solid #FFCB05; }

.logo-link {
  height: 2.5rem; }
  .logo-link li {
    padding: 0; }

.logo-block-m {
  padding-right: 0; }

.logo-library {
  padding-right: 0.5rem;
  border-left: 0;
  border-right: solid 1.2px rgba(255, 255, 255, 0.5); }

.logo-search {
  padding-left: 0.5rem; }

.dropdown,
.dropdown-multiple {
  border-radius: 4px;
  background: white;
  box-shadow: none;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.3);
  appearance: none;
  -webkit-appearance: none;
  padding: 0.5rem 0.75rem;
  cursor: pointer; }

.dropdown {
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="#4E4E4E" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"/></svg>'); }

.dropdown-multiple {
  min-height: 10rem; }

.card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.04);
  border-bottom: solid 2px #E5E5E5;
  padding: 1rem;
  background: white; }

.card-light {
  background: #FAFAFA; }

.search-box-container-full {
  background: #E6F3FF;
  border-bottom: solid 2px #CCE6FF; }

.search-box-container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto; }

.search-box-form {
  display: flex;
  padding: 1rem; }

.search-box {
  display: flex;
  align-items: center;
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  line-height: 1.4;
  width: 100%;
  background: white; }

input.search-box-input {
  border: 1px solid rgba(18, 109, 193, 0.4);
  height: 100%;
  background: transparent;
  /*
    Undo input style
  */
  border: none;
  box-shadow: none; }

.search-box-advanced-link {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  margin-right: -1rem; }
  .search-box-advanced-link svg {
    width: 1rem; }
  .search-box-advanced-link g {
    color: #126DC1; }

.search-box-advanced-link-text {
  margin-right: 0.5rem;
  font-size: 0.9rem;
  color: #126DC1;
  font-weight: 600; }
  @media (max-width: 32rem) {
    .search-box-advanced-link-text {
      display: none; } }

.search-box-button {
  margin-left: 1rem;
  margin-right: 0;
  display: inline-flex;
  align-items: center; }
  @media (min-width: 32rem) {
    .search-box-button .icon {
      align-self: center;
      margin-right: 0.5rem; } }

@media (max-width: 32rem) {
  .search-box-button-text {
    position: absolute;
    left: -999em; } }

.datastore-list-container {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5;
  text-align: center; }

.datastore-scroll-container {
  position: relative; }

.datastore-list {
  display: inline-flex;
  margin: 0 0.5rem; }

.datastore-scroll-x {
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 3px; }

.datastore-scroll-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248, 248, 248, 0)), color-stop(100%, #f8f8f8));
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  z-index: 2; }

.datastore-item {
  display: inline-block;
  padding: 0;
  margin: 0; }

.datastore-item-link {
  display: inline-block;
  color: #4E4E4E;
  padding: 0.5rem 1rem;
  padding-top: 0.6rem;
  margin: 0;
  cursor: pointer;
  border-bottom: solid 2.5px transparent; }

.datastore-item-active {
  border-bottom: solid 2px #126DC1;
  color: #126DC1; }

.datastore-item-link:not(.datastore-item-active) svg g {
  fill: #CCC; }

.datastore-item-content-wrap {
  display: flex;
  align-items: center; }
  .datastore-item-content-wrap .icon {
    margin-right: 0.5rem; }

/*
  Multiple results container // aka Bento box
*/
.results-list {
  margin: 0;
  list-style: none; }

.results-list-border > li {
  border-bottom: solid 1px #CCC; }

/*
  Search Summary // Records List Bar
*/
.results-summary-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  background: white;
  background: #FAFAFA;
  border-radius: 4px; }
  @media (min-width: 47rem) {
    .results-summary-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 3.5rem;
      padding: 0 2rem; } }

.no-results-suggestions {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 1rem 2rem; }
  .no-results-suggestions h2 {
    font-size: 1rem;
    font-weight: 600; }
  .no-results-suggestions li {
    margin: 0;
    color: #4E4E4E; }

.pagination-container {
  padding: 1.5rem;
  background: white;
  background: #FAFAFA;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 4px; }
  @media (min-width: 32rem) {
    .pagination-container {
      padding: 1rem 2rem; } }
  .pagination-container .button-secondary,
  .pagination-container .results-summary {
    margin-right: 1rem; }
  @media (max-width: 47rem) {
    .pagination-container .results-summary {
      padding: 0;
      display: block; } }

.records-summary {
  padding: 0 1rem; }

.filters-container {
  margin-top: 1rem;
  margin-bottom: 2rem; }

.active-filters-heading,
.filters-heading {
  padding: 1rem;
  margin: 0;
  color: #4E4E4E;
  background: #FAFAFA;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5; }

.filter-group-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filter-group {
  background: #FAFAFA;
  margin: 0;
  padding: 0; }

.filter-group-heading {
  margin: 0;
  color: #4E4E4E;
  background: #FAFAFA;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5; }

.active-filters-container {
  border-radius: 4px 4px 0 0;
  background: #FAFAFA; }

.no-filters-available {
  border-radius: 4px;
  background: #FAFAFA;
  padding: 1rem; }

.filter-group-toggle-show-button {
  appearance: none;
  margin: 0;
  padding: 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  background: none; }
  .filter-group-toggle-show-button:hover .filter-group-heading {
    text-decoration: underline; }
  .filter-group-toggle-show-button .icon {
    width: 0.9rem;
    height: 0.9rem; }
  .filter-group-toggle-show-button .icon g {
    fill: #4E4E4E; }

.filter-list,
.active-filters-list {
  margin: 0;
  padding-top: 0;
  list-style: none; }

.filter-item,
.active-filter-item {
  padding: 0;
  margin: 0; }

.filter-item {
  margin-bottom: 0.5rem; }

.filter-button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  width: 100%;
  padding: 0.15rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
  .filter-button:hover .filter-value {
    text-decoration: underline; }

.filter-value {
  margin-right: 0.5rem;
  word-break: break-word;
  color: #126DC1; }

.filter-item-active .filter-value,
.filter-item-active .filter-count {
  font-weight: 600; }

.active-filter-item {
  margin: 0 1rem;
  padding-bottom: 0.5rem; }

.active-filter-button .icon g {
  fill: #E2F4EB; }

.active-filter-button {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  background: #E2F4EB;
  border: solid 1px rgba(5, 124, 66, 0.4);
  border-radius: 4px; }
  .active-filter-button .icon {
    width: 0.8rem;
    height: 0.8rem; }
  .active-filter-button .icon g {
    fill: #057C42; }
  .active-filter-button:hover .active-filter-button-text {
    text-decoration: underline; }

.active-filter-button-text {
  font-size: 0.9rem;
  color: #057C42;
  text-align: left;
  max-width: 90%; }

.clear-active-filters-container {
  margin: 0 1rem;
  padding-bottom: 0.5rem; }

.clear-active-filters-button {
  margin-bottom: 1rem;
  color: #6E6E6E;
  text-decoration: underline; }

.filter-group-checkbox {
  display: flex;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0 1rem 0.75rem; }
  .filter-group-checkbox:hover {
    text-decoration: underline; }

.filter-checkbox {
  display: inline-block;
  width: 1.5rem;
  margin: 0;
  flex-shrink: 0; }

.filter-checkbox-checked {
  color: #126DC1; }

.filter-list-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem; }
  .filter-list-container .button-link-light {
    margin-top: 0.5rem; }

.filter-group-multiselect {
  border-top: solid 1px #E5E5E5; }

body {
  background: #F2F2F2; }

.flex-container {
  display: block; }
  @media (min-width: 47rem) {
    .flex-container {
      display: flex; } }

.side-container {
  width: 100%;
  margin-right: 1rem; }
  @media (min-width: 47rem) {
    .side-container {
      width: 24rem; } }

.main-container {
  width: 100%;
  margin-bottom: 2rem; }

.grey-background {
  background: #E5E5E5; }

.page {
  background: white;
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06); }
  @media (max-width: 47rem) {
    .page {
      padding: 1.5rem; } }

/*
  Record
*/
.record {
  margin: 0.5rem 0;
  padding: 0;
  background: white; }

.record-container {
  padding: 1.5rem; }
  @media (min-width: 32rem) {
    .record-container {
      padding: 2rem; } }

.record-title {
  font-weight: 600;
  font-size: 1.25rem;
  text-decoration: none;
  margin: 0; }
  .record-title .icon {
    width: 0.85rem;
    color: #6E6E6E; }

.record-title-link {
  border-bottom: solid 2px rgba(18, 109, 193, 0.4);
  margin-right: 0.5rem; }
  .record-title-link:hover {
    background: #E6F3FF; }

.record-field-list {
  margin-top: 1rem; }
  .record-field-list .record-field:not(:last-child) {
    margin-bottom: 0.5rem; }
  @media (min-width: 47rem) {
    .record-field-list {
      display: table;
      width: 100%; }
      .record-field-list .record-field {
        display: table-row; }
      .record-field-list .record-field-name {
        display: table-cell;
        width: 11rem;
        padding-right: 1rem;
        color: #6E6E6E;
        font-weight: 400; }
        .record-field-list .record-field-name:after {
          content: none; }
      .record-field-list .record-field-value {
        display: table-cell;
        word-break: break-word; } }

.record-field-name {
  vertical-align: top;
  padding-right: 0.25rem;
  color: #6E6E6E;
  display: block; }
  @media (max-width: 47rem) {
    .record-field-name {
      font-size: 0.82rem;
      font-weight: 400;
      color: #4E4E4E; } }

.record-field-value {
  display: block; }

/*
  Full Record Specific
*/
.full-record-container {
  margin-top: 1rem;
  margin-bottom: 3rem;
  background: white;
  border-bottom: solid 2px #E5E5E5;
  border-radius: 4px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06); }
  .full-record-container .record-field-list {
    margin-bottom: 1rem; }
  @media (min-width: 47rem) {
    .full-record-container .record-field-list .record-field dt, .full-record-container .record-field-list .record-field dd {
      padding: 0.5rem 1rem; }
    .full-record-container .record-field-list .record-field:nth-child(even) {
      background: #FAFAFA; }
    .full-record-container .record-field-list .record-field:nth-child(odd) {
      background: #F2F2F2; } }

.full-record-header {
  display: flex;
  background: #E6F3FF;
  padding: 1rem 2rem;
  min-height: 3.68rem;
  border-radius: 4px 4px 0 0; }
  .full-record-header p {
    margin: 0;
    color: #126DC1; }

.full-record-format {
  color: #0C5292;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600; }
  .full-record-format .icon {
    color: inherit;
    margin-right: 0.5rem; }

.full-record-title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 1.5rem; }
  @media (min-width: 32rem) {
    .full-record-title {
      font-size: 2rem;
      margin-bottom: 2rem; } }

/*
  Record special fields
*/
.record-field-value .icon {
  display: inline-block;
  margin-right: 0.3rem; }
  .record-field-value .icon g {
    fill: #6E6E6E; }

.record-field-value-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
  list-style: none; }

.record-field-value-list-item {
  display: block;
  margin: 0;
  padding: 0; }

.record-field-uid-academic_discipline .icon {
  width: 0.75rem;
  height: 0.65rem;
  margin: 0 0.25rem; }

.record-field-value .show-all-list-container .show-all-button {
  display: block;
  margin: 0.25rem 0;
  font-size: 0.85rem;
  border: none;
  color: #4E4E4E;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 0 0.4rem; }

.record-field-value-link {
  text-decoration: underline; }

.record-field-uid-format .record-field-value-item {
  display: inline-block;
  font-weight: 600;
  margin-right: 1rem; }
  .record-field-uid-format .record-field-value-item:after {
    content: '' !important; }
  .record-field-uid-format .record-field-value-item .icon {
    margin-bottom: -2px; }

@media (min-width: 47rem) {
  .record-field-uid-format .record-field-name {
    padding-bottom: 0.5rem;
    margin-right: 0.5rem; } }

.record-person__header-has-picture {
  display: flex;
  align-items: center; }

.record-person__profile-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  object-position: top right; }

.loading-container {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  padding: 1rem 2rem;
  border-radius: 4px 4px 0 0; }

.loading-record-text {
  color: #0C5292; }

.bentobox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 1rem; }
  @media (min-width: 47rem) {
    .bentobox-list {
      margin-right: -1rem; } }
  @media (max-width: 47rem) {
    .bentobox-list {
      margin: 0; } }

.bentobox {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0; }
  .bentobox .results-list {
    border-radius: 4px; }

.bentobox-inner-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

.bentobox-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.6rem 1rem;
  background: #126DC1;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.06); }
  .bentobox-heading-container span {
    line-height: 1.5;
    color: white; }

.bentobox-heading {
  margin: 0;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  margin-right: 0.5rem;
  line-height: 1.5; }

.bentobox-results-info {
  font-size: 0.9rem;
  font-weight: 600; }

.bentobox-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  padding: 1rem;
  border-radius: 0 0 4px 4px; }

.bentobox-no-results {
  margin: 0;
  background: white;
  padding: 1rem;
  border-radius: 0 0 4px 4px; }

@media (min-width: 47rem) {
  .bentobox {
    width: calc(100% * (1/2) - 2rem);
    margin-right: 2rem; } }

@media (min-width: 76em) {
  .bentobox {
    width: calc(100% * (1/3) - 2rem);
    margin-right: 2rem; } }

@media (min-width: 120em) {
  .bentobox {
    width: calc(100% * (1/5) - 2rem);
    margin-right: 2rem; } }

.party-parrot-container {
  cursor: pointer; }

.party-parrot {
  opacity: 0;
  vertical-align: top;
  margin-left: .3rem;
  width: 1.5rem;
  transition: opacity .2s ease-in-out; }

.party-parrot.party {
  opacity: 1 !important; }

.party-parrot-container:hover .party-parrot {
  opacity: 0.3; }

.holdings {
  background: #FAFAFA;
  border-top: solid 1px #E5E5E5;
  padding: 2rem;
  border-radius: 0 0 4px 4px; }

.holding-group:not(:last-child) {
  margin-bottom: 2rem; }

.holding-group-heading-container {
  display: flex;
  align-items: baseline; }

.holding-group-heading {
  margin: 0;
  font-weight: 600;
  font-size: 1.25rem;
  margin-right: 1rem; }
  @media (max-width: 47rem) {
    .holding-group-heading {
      font-size: 1rem;
      padding-bottom: 0.5rem; } }

.holding-group-info-link {
  display: inline-block;
  text-decoration: underline; }

.holding-table {
  border: none;
  padding: 0;
  margin: 0; }
  .holding-table thead {
    background: none;
    color: #4E4E4E;
    font-size: 0.8125rem; }
  .holding-table tr {
    border: none; }
  .holding-table tbody td:first-child {
    white-space: nowrap; }
  .holding-table tbody tr:last-child td {
    border: none; }
  .holding-table tbody td {
    border-bottom: solid 1px #E5E5E5; }
  .holding-table td, .holding-table th {
    padding: 0;
    vertical-align: middle; }
  .holding-table td {
    width: 20%; }
  @media (max-width: 47rem) {
    .holding-table thead {
      display: none; }
    .holding-table tr {
      display: block;
      margin-bottom: 0.5rem; }
      .holding-table tr:not(:last-child) {
        border-bottom: solid 1px #E5E5E5;
        padding-bottom: 0.5rem; }
    .holding-table td {
      width: auto; }
    .holding-table tbody td {
      display: inline-block;
      border: none; } }

.holding-link {
  text-decoration: underline; }

.holding-value-na {
  color: #6E6E6E; }

.holding-table-field {
  display: inline-block;
  margin-right: 1rem; }
  @media (min-width: 47rem) {
    .holding-table-field {
      padding: 0.5rem 0; } }

.holdings-show-all-button {
  font-size: 0.875rem;
  color: #6E6E6E;
  margin-top: 0.75rem; }

.holdings-condensed .holdings {
  margin: 0;
  padding: 1.5rem 2rem; }
  @media (max-width: 32rem) {
    .holdings-condensed .holdings {
      padding: 1.5rem; } }

.holdings-condensed .holding-group-heading {
  font-size: 1rem; }

.holdings-condensed .holding-table td, .holdings-condensed .holding-table th {
  vertical-align: top; }

.holdings-condensed .holding-group:not(:last-child) {
  margin-bottom: 1.5rem; }

.holdings-condensed .holding-button {
  background: none;
  padding: 0;
  color: #126DC1;
  border: none;
  text-decoration: underline; }

.holdings-condensed .holdings-show-all-button {
  border: none;
  padding: 0;
  color: #6E6E6E;
  border-bottom: solid 1px #CCC;
  border-radius: 0;
  margin-top: 0; }
  .holdings-condensed .holdings-show-all-button:hover {
    border-color: #6E6E6E; }

.bentobox .holdings {
  padding: 1rem 1.5rem; }

.bentobox .holding-table thead {
  display: none; }

.bentobox .holding-table tr {
  display: block;
  margin-bottom: 0.5rem; }
  .bentobox .holding-table tr:not(:last-child) {
    border-bottom: solid 1px #E5E5E5;
    padding-bottom: 0.5rem; }

.bentobox .holding-table td {
  width: auto; }

.bentobox .holding-table tbody td {
  display: inline-block;
  border: none; }

.bentobox .holding-table tbody td {
  border: none; }

.bentobox .holding-table tbody .holding-table-field {
  padding: 0; }

.holding-summary-text {
  margin-bottom: 0;
  margin-top: 0.5rem; }

/*
  Holding statuses
*/
.holding-status-on-shelf,
.holding-status-missing,
.holding-status-checked-out {
  color: #05A657;
  display: flex;
  align-items: center; }
  .holding-status-on-shelf .icon,
  .holding-status-missing .icon,
  .holding-status-checked-out .icon {
    min-width: 0.75rem;
    max-width: 0.75rem;
    margin-right: 0.5rem; }

.holding-status-on-shelf {
  color: #05A657; }

.holding-status-missing {
  color: #ED5D47; }

.holding-status-checked-out {
  color: #E77504; }

.access-container {
  background: #FAFAFA;
  padding: 1rem 1.5rem;
  margin-top: -0.5rem;
  align-items: center;
  border-top: solid 1px #F2F2F2; }
  @media (min-width: 32rem) {
    .access-container {
      padding: 1rem 2rem; } }
  .access-container:empty {
    display: none; }

.access-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block; }

.access-link {
  /*
  @media (min-width: $breakpoint-1) {
    white-space: nowrap;
  }
  */ }

.access-item {
  display: block;
  /*
  @media (min-width: $breakpoint-2) {
    display: flex;
    align-items: flex-start;
  }
  */
  padding: 0;
  margin: 0;
  margin-bottom: 1rem; }

.access-detail {
  margin-right: 1.5rem; }
  .access-detail:empty {
    display: none; }

.access-list-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }

.access-container .access-list-container:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: solid 1px #E5E5E5;
  padding-bottom: 1rem; }

.access-list-container .access-item:last-child {
  margin-bottom: 0; }

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -100vw 0; }
  100% {
    background-position: 100vw 0; } }

.placeholder-container {
  margin-bottom: 2rem; }

.placeholder {
  background: linear-gradient(to left, rgba(229, 229, 229, 0.6) 20%, #E5E5E5 50%, rgba(229, 229, 229, 0.6) 80%);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 25s;
  vertical-align: middle;
  height: 0.6rem;
  margin-top: 0;
  margin-bottom: 1rem; }

.access-placeholder-container {
  width: 100%; }
  .access-placeholder-container .placeholder {
    margin-bottom: 0; }

.placeholder-title {
  height: 1rem;
  max-width: 32rem;
  margin-bottom: 2rem;
  background: linear-gradient(to left, #F2F9FF 20%, #E6F3FF 50%, #F2F9FF 80%); }

.placeholder-line {
  max-width: 22rem; }

.placeholder-line-alt {
  max-width: 18rem; }

.placeholder-inline {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  margin-right: 1rem; }

.placeholder-access {
  max-width: 12rem;
  background: linear-gradient(to left, #F2F9FF 20%, #E6F3FF 50%, #F2F9FF 80%); }

.record-preview {
  margin: 0;
  padding: 1rem;
  background: white;
  border-bottom: solid 1px #CCC; }

.record-preview-heading {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem; }
  .record-preview-heading .icon {
    color: #6E6E6E;
    width: 0.85rem; }

.record-preview-title-link {
  margin-right: 0.25rem; }

.record-preview-published-date {
  color: #6E6E6E; }

.record-preview-format-and-author {
  margin: 0; }

.record-preview-about {
  margin: 0;
  color: #6E6E6E; }

.record-preview-link {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: underline; }

.record-preview-format-list {
  display: inline-block;
  list-style: none;
  margin: 0; }

.record-preview-format {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #4E4E4E;
  margin-right: 0.5rem; }
  .record-preview-format .icon {
    color: #6E6E6E;
    margin-right: 0.2rem;
    margin-bottom: -0.1rem; }

.record-preview-author {
  color: #4E4E4E; }

.record-preview-format-list + .record-preview-author:before {
  content: '\00b7';
  font-weight: 600;
  margin-right: 0.4rem; }

.record-preview-description {
  margin: 0;
  color: #6E6E6E; }

.record-preview-placeholder {
  padding: 1.5rem 1rem; }

.record-placeholder-last {
  margin-bottom: 0; }

/*
  Record Preview Fields
*/
.record-preview__field {
  color: #6E6E6E; }

.record-preview__field-name {
  display: inline-block;
  font-weight: 400; }
  .record-preview__field-name:after {
    content: ":";
    padding-right: 0.25rem; }

.record-preview__field-value {
  display: inline-block; }

.landing-container {
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 1.5rem;
  border-radius: 4px;
  max-width: 28rem;
  line-height: 1.6; }
  .landing-container p {
    font-size: 1.25rem; }
  .landing-container .landing-heading-text {
    padding-bottom: 1.5rem;
    border-bottom: solid 4px #CCC;
    margin-top: 0;
    color: #4E4E4E; }
    .landing-container .landing-heading-text b {
      color: #333; }
  .landing-container p:not(.landing-heading-text) {
    color: #6E6E6E;
    padding-top: 1rem; }

.landing-icons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; }
  .landing-icons svg {
    margin: 0 1rem; }
  .landing-icons .icon {
    width: 2.5rem;
    height: 2.5rem; }
    .landing-icons .icon g {
      color: #126DC1; }

.landing-extra-info {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem; }
  .landing-extra-info a {
    font-size: 1rem;
    border-bottom: solid 2px rgba(18, 109, 193, 0.5); }

.datastore-info-container {
  display: flex;
  align-items: flex-start;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  justify-content: space-between; }
  .datastore-info-container p {
    font-size: 0.88rem;
    margin: 0;
    line-height: 1.7;
    color: #4E4E4E; }

.datastore-info {
  padding-right: 1rem; }

.datastore-info-hide {
  padding: 0 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
  line-height: 1.7;
  color: #4E4E4E;
  font-weight: 600; }
  .datastore-info-hide:hover {
    background: #E5E5E5; }

.icon {
  width: 1rem;
  height: 1rem; }
  .icon g {
    fill: currentColor; }

.show-all-button {
  margin-top: 1rem;
  font-size: 0.85rem;
  border-radius: 0; }

.feedback-widget {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  padding: 0.3rem 0.8rem;
  font-size: 0.9rem;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 1; }

.advanced-search-form {
  margin-bottom: 2rem; }

.advanced-input {
  border: solid 1px rgba(0, 0, 0, 0.3); }

.advanced-to-basic-link {
  margin-bottom: 1.5rem;
  display: block;
  text-align: center; }
  .advanced-to-basic-link g {
    color: #6E6E6E; }

.advanced-input-remove-button {
  display: flex;
  align-items: center;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: solid 1px #CCC;
  color: #4E4E4E;
  background: #F2F2F2;
  cursor: pointer;
  margin-top: 0.5rem; }
  @media (min-width: 47rem) {
    .advanced-input-remove-button {
      margin-left: 1rem;
      margin-top: 0; } }
  .advanced-input-remove-button .icon {
    height: 1rem;
    width: 0.8rem; }
    .advanced-input-remove-button .icon g {
      color: #6E6E6E; }

.advanced-heading {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  margin-bottom: 0.5rem;
  font-weight: 600;
  text-align: center; }
  @media (max-width: 47rem) {
    .advanced-heading {
      margin: 0.5rem 0; } }

.advanced-input-container {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex; }
  @media (max-width: 47rem) {
    .advanced-input-container {
      display: block;
      margin: 1.5rem 0; }
      .advanced-input-container .advanced-input {
        margin-top: 0.5rem; } }

.advanced-search-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

.advanced-search-button {
  display: flex;
  align-items: center; }
  .advanced-search-button .icon {
    margin-right: 0.5rem; }

.advanced-add-field-container {
  text-align: center; }

.advanced-field-select {
  margin-right: 1rem;
  min-width: 12rem; }

.advanced-filters-container {
  margin-top: 2rem;
  border-top: solid 2px #E5E5E5; }

.advanced-filter-container {
  width: 100%;
  margin: 0 0.5rem;
  margin-top: 1rem; }
  @media (min-width: 32rem) {
    .advanced-filter-container {
      width: 22rem; } }

.advanced-filter-inner-container {
  background: #FAFAFA;
  padding: 1rem;
  border-radius: 4px; }

.advanced-filter-label-text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: #4E4E4E;
  font-size: 1rem; }

.advanced-filters-inner-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.advanced-filter-fieldset select {
  width: 100%; }

.scopedown-container .scopedown-dropdown-container:not(:first-child) {
  margin-top: 0.5rem; }

.scopedown-dropdown-container {
  margin: 0; }

.scopedown-dropdown {
  width: 100%; }

.scopedown-label-text {
  display: block;
  line-height: 1.6; }

.switch {
  margin: 0; }

.switch-legend {
  text-align: center; }

.switch-options {
  display: flex;
  flex-wrap: wrap; }
  @media (min-width: 32rem) {
    .switch-options {
      justify-content: center; } }

.switch-option {
  background: white;
  padding: 0.25rem 0.75rem;
  font-size: 0.85rem;
  cursor: pointer;
  border: solid 1px #CCC;
  margin: 0; }
  .switch-option:not(:first-child):not(:last-child) {
    border-left: none; }
  .switch-option:last-child:not(:first-child) {
    border-left: none; }
  .switch-option:first-child {
    border-radius: 4px 0 0 4px; }
  .switch-option:last-child {
    border-radius: 0 4px 4px 0; }
  .switch-option:last-child:first-child {
    border-radius: 4px; }
  .switch-option.active {
    font-weight: 600; }

.switch-option + .switch-option-selected {
  margin-left: -1px; }

.switch-option-selected {
  border: solid 1px #05A657 !important;
  color: #057C42;
  background: #E2F4EB; }

.switch-option-input {
  display: none; }

.trim-string-button {
  margin: 0;
  font-size: 0.85rem;
  border: none;
  color: #4E4E4E;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 0 0.5rem;
  line-height: 1.5;
  background: white;
  cursor: pointer; }

.trim-string-text {
  margin-right: 0.5rem; }

@media (min-width: 47rem) {
  .zigzag-end {
    background-image: url("/static/css/zigzag.svg");
    height: 1rem;
    width: 100%;
    background-repeat: repeat-x;
    margin-top: -20px;
    margin-bottom: 0.75rem; } }

.sorts-select {
  padding: 0.15rem 0.5rem;
  color: #4E4E4E;
  min-width: 12rem; }

.sorts-label-text {
  padding-right: 0.5rem; }

.multiselect {
  border-radius: 4px; }

input.multiselect-search {
  font-size: 0.937rem; }

.multiselect-options {
  margin: 0;
  margin-top: 1rem;
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 0.5rem;
  background: white;
  height: 18rem;
  overflow-y: scroll; }
  .multiselect-options .checkbox-label {
    display: flex;
    font-size: 0.937rem;
    cursor: pointer;
    padding-right: 1rem; }

input.date-range-input-text {
  margin-top: 1rem;
  width: 50%; }

.date-range-input .switch-options {
  justify-content: flex-start; }

.date-range-container {
  display: flex; }

.date-range-input-text:nth-child(2) {
  margin-left: 1rem; }

.ask-a-librarian-button {
  border: none;
  background: none;
  color: white;
  padding: 0;
  margin: 0;
  cursor: pointer; }
  .ask-a-librarian-button .icon {
    color: white;
    margin-right: 0.5rem;
    margin-bottom: -0.1rem; }

.ask-a-librarian-online .icon g {
  color: #05A657; }

.marc-link-container {
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 2rem; }

.bookplate-image {
  width: 100%;
  max-width: 100%; }

.bookplate-description {
  margin-top: 0;
  margin-bottom: 0.5rem; }

.site-footer {
  /* keep it to the bottom */
  position: absolute;
  bottom: 0;
  width: 100%; }
  .site-footer p {
    margin: 0; }

/* container styles because footers */
#root {
  min-height: 100vh;
  /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 8rem;
  /* height of your footer */ }
  @media (max-width: 47rem) {
    #root {
      padding-bottom: 10rem; } }

.checkbox-label {
  display: flex;
  cursor: pointer; }

.checkbox {
  margin-right: 0.5rem;
  cursor: pointer; }

.institution-select-container {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 1rem; }
  .institution-select-container .dropdown {
    width: 100%; }

.institution-select-label-text {
  display: block;
  font-weight: 600;
  margin-bottom: 0.75rem; }

.institution-select-landing-container .radio-fieldset {
  text-align: center; }

.institution-select-landing-heading {
  font-weight: 400;
  text-align: center;
  margin-top: 0; }

.radio-label {
  background: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 4px;
  display: inline-block;
  margin-right: 1rem; }
  .radio-label.radio-selected {
    background: #E6F3FF;
    border-color: #126DC1;
    color: #0C5292; }

.radio-input {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  opacity: 0; }

.radio-input:focus + .radio-label {
  outline: 3px solid #FFCB05; }

.u-break-word {
  word-wrap: break-word; }

.u-margin-top-none {
  margin-top: 0; }

.u-margin-bottom-none {
  margin-bottom: 0; }

.margin-right-2 {
  margin-right: 2rem; }

.underline {
  text-decoration: underline; }

.margin-1 {
  margin: 1rem; }

.margin-2 {
  margin: 2rem; }

.no-margin {
  margin: 0; }

.no-border {
  border: none; }

.offpage {
  position: absolute;
  left: -999em; }

.hide {
  display: none; }

.font-small {
  font-size: 0.85rem; }
