/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

.site-min-width {
  min-width: 20rem; }

.container {
  margin: 0 auto;
  padding: 0 0.75rem; }

.container-narrow {
  max-width: 51rem; }

.container-medium {
  max-width: 1200px; }

.container-fluid {
  padding: 0 1rem; }

@media (min-width: 1200px) {
  .container-large {
    max-width: 140rem; } }

* {
  -webkit-font-smoothing: antialiased; }

/*
  Site
*/
html {
  font-size: 14px; }
  @media (min-width: 820px) {
    html {
      font-size: 17px; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.4;
  color: #262626; }

/*
  Headings
*/
h1 {
  font-size: 1.87rem; }

h2 {
  font-size: 1.5rem; }

h1, h2 {
  font-weight: 600;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h3, h4 {
  font-weight: 600; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }

h5, h6 {
  font-weight: 600; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; }

/*
  Typography and Elements
*/
p {
  margin: 1em 0; }

a {
  color: #126DC1;
  cursor: pointer;
  text-decoration: none;
  font-weight: inherit; }

*::selection {
  background: #CCE6FF; }

ol, ul {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

dt {
  font-weight: 600; }

.table-compact table {
  border: none; }

.table-compact td, .table-compact th {
  padding: 0.25rem 0.5rem;
  font-size: 90%; }

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 0.5rem #126DC1;
  margin: 2rem 0;
  color: #126DC1;
  font-style: italic; }

b {
  font-weight: 600; }

sup {
  font-size: 0.6em;
  vertical-align: top; }

.text-small {
  font-size: 0.85rem; }

.text-grey {
  color: #4E4E4E; }

form {
  box-sizing: border-box; }

label {
  color: #262626;
  display: block; }

.fieldset-label {
  font-weight: 700; }

input,
button,
textarea {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #262626; }

input[type="text"],
input[type="search"],
input[type="email"],
input[type="tel"],
input[type="date"] {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 0.5rem 0.75rem;
  line-height: 1.4;
  width: 100%; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]:disabled,
input[type="search"]:read-only,
input[type="email"]:disabled,
input[type="email"]:read-only,
input[type="tel"]:disabled,
input[type="tel"]:read-only,
input[type="text"]:disabled,
input[type="text"]:read-only {
  background: #FAFAFA;
  border-color: #CCC;
  color: #4E4E4E;
  cursor: not-allowed; }

.help-text {
  margin: 0; }

fieldset.field-valid input[type="text"] {
  border-color: #05A657; }

fieldset.field-valid .help-text {
  color: #05A657;
  font-size: 0.9rem; }

fieldset.field-error input[type="text"] {
  border-color: #ED5D47; }

fieldset.field-error .help-text {
  color: #ED5D47;
  font-size: 0.9rem; }

fieldset.field-warning input[type="text"] {
  border-color: #E77504; }

fieldset.field-warning .help-text {
  color: #E77504;
  font-size: 0.9rem; }

textarea {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 100%; }

.form-label {
  display: block;
  padding-bottom: 0.15rem;
  line-height: 1.4; }

.form-group {
  margin-bottom: 1.5rem; }

.button {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  background: #126DC1;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid #0C5292;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit; }

.button:active {
  color: #FAFAFA;
  background: #0C5292;
  border-color: #00274C; }

.button:active,
.button:hover {
  text-decoration: none; }

.button-secondary {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  border: 1px solid rgba(18, 109, 193, 0.4);
  background: #F2F9FF;
  border-radius: 4px;
  color: #126DC1;
  line-height: inherit; }
  .button-secondary:hover {
    cursor: pointer; }

.button[disabled] {
  opacity: 0.5; }

.button[disabled]:hover,
.button[disabled]:active {
  cursor: not-allowed; }

.button-light {
  background: transparent;
  color: #4E4E4E;
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 0.4rem 1rem;
  font-size: 0.875rem;
  cursor: pointer; }

.button-small {
  padding: 0.4rem 0.8rem; }

.button-radio {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #CCC;
  background: #FAFAFA;
  border-radius: 4px;
  cursor: pointer; }

.button-link {
  border: none;
  display: inline-block;
  margin: 0;
  color: #126DC1;
  background: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  line-height: inherit;
  line-height: inherit; }

.button-link-light {
  background: none;
  border: none;
  padding: 0;
  color: #4E4E4E;
  line-height: inherit;
  text-align: left;
  border-bottom: solid 1px #CCC;
  border-radius: 0; }
  .button-link-light:hover {
    color: #4E4E4E;
    cursor: pointer;
    border-color: #4E4E4E; }

.button-small {
  font-size: 0.8rem;
  padding: 0.2rem 0.6rem; }

.search-header {
  padding: 0.8rem 0 !important; }
  .search-header svg {
    height: 26px !important; }

.site-message {
  background: #FAFAFA;
  border-bottom: solid 2px #CCC;
  margin: 0;
  padding: 0.75rem 0;
  font-size: 0.9rem; }
  .site-message p {
    margin: 0; }
  .site-message a {
    text-decoration: underline; }
  .site-message .tag {
    margin-right: 0.5rem; }

.site-footer {
  background: #00274C;
  padding: 1.5rem 0;
  color: white; }
  .site-footer a {
    color: white;
    text-decoration: underline; }

.site-footer-nav-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .site-footer-nav-list li {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem; }
    @media (min-width: 980px) {
      .site-footer-nav-list li {
        display: inline-block;
        margin-right: 1.5rem; } }

.callout {
  background: #F2F9FF;
  padding: 2rem 0;
  margin-bottom: 2rem; }

.no-margin {
  margin: 0; }

.white-text {
  color: white; }

.right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.light-text {
  opacity: 0.8;
  font-size: 90%; }

.center-text {
  text-align: center; }

.flex-space-between {
  display: flex;
  width: 100%;
  justify-content: space-between; }

.flex-center {
  display: flex;
  align-items: center; }

.green-text {
  color: #057C42; }

.focus-outline-white {
  outline-color: white; }

*:focus {
  outline: 3px solid rgba(255, 203, 5, 0.9);
  outline-offset: 0;
  transition: outline 0.05s ease-out; }

.offscreen {
  position: absolute;
  left: -999em; }

.skip-to-id {
  position: fixed;
  left: -999px; }
  .skip-to-id:focus {
    left: 0.5rem;
    top: 0.5rem;
    background: #0C5292;
    text-decoration: underline;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px; }

.multiple-choice {
  display: inline-block;
  cursor: pointer;
  -ms-touch-action: manipulation;
  touch-action: manipulation; }
  .multiple-choice:not(:last-child) {
    margin-right: 1rem; }

/* HTML5 Boilerplate accessible hidden styles */
[type="radio"] {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

[type="radio"] + span {
  display: block;
  padding: 0.25rem;
  margin: 0; }

/* the basic, unchecked style */
[type="radio"] + span:before {
  content: '';
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: -0.25rem;
  border-radius: 50%;
  border: 4px solid white;
  background: white;
  box-shadow: 0 0 0 2px #4E4E4E;
  margin-right: 0.4rem; }

/* the checked style using the :checked pseudo class */
[type="radio"]:checked + span:before {
  background: #126DC1;
  box-shadow: 0 0 0 2px #4E4E4E; }

/* never forget focus styling */
[type="radio"]:focus + span {
  outline: 3px solid rgba(255, 203, 5, 0.9);
  outline-offset: 0;
  transition: outline 0.05s ease-out; }

.table {
  width: 100%;
  border: solid 1px #CCC;
  margin-top: 1rem;
  margin-bottom: 1rem; }
  .table thead {
    background: #F2F2F2;
    border-bottom: solid 2px #E5E5E5; }
  .table td, .table th {
    padding: 0.75rem 1rem; }
  .table th {
    text-align: left;
    font-weight: 600; }
  .table tr {
    border-bottom: solid 1px #CCC; }

[data-inner-container] {
  max-width: 1200px; }

.dropdown,
.dropdown-multiple {
  font-size: 1rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #262626;
  line-height: 1.5;
  background: white;
  box-shadow: none;
  cursor: pointer;
  max-width: 100%;
  /*
  border-radius: 4px;
  
  box-shadow: none;
  border: solid 1px rgba(0,0,0,0.3);
  appearance: none;
  -webkit-appearance:none;
  padding: 0.5rem 0.75rem;
  */ }

.dropdown {
  /*
  padding-right: 2.5rem;
  background-repeat: no-repeat;
  background-position: right 0.5rem center;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24"><path fill="#4E4E4E" d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6-6-6 1.41-1.42z"/></svg>');
  */ }

.dropdown-multiple {
  min-height: 10rem; }

.card {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.04);
  border-bottom: solid 2px #E5E5E5;
  padding: 1rem;
  background: white; }

.card-light {
  background: #FAFAFA; }

.search-box-container-full {
  background: #E6F3FF;
  border-bottom: solid 2px #CCE6FF; }

.search-box-container {
  position: relative;
  max-width: 50rem;
  margin: 0 auto; }

.search-box-form {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center; }
  @media (max-width: 600px) {
    .search-box-form {
      display: block; } }

.search-box {
  display: flex;
  width: 100%; }

.search-box-advanced {
  text-align: center; }
  @media (max-width: 600px) {
    .search-box-advanced {
      margin-bottom: -0.75rem;
      margin-top: 0.25rem; } }

.search-box-advanced-link {
  margin-left: 1rem;
  display: inline-block;
  font-weight: 600; }
  @media (max-width: 600px) {
    .search-box-advanced-link {
      font-size: 0.9rem;
      flex: 0 1 100%;
      margin: 0; } }

.search-box-button {
  margin-left: 0.75rem;
  margin-right: 0;
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 1rem; }
  @media (min-width: 600px) {
    .search-box-button .icon {
      align-self: center;
      margin-right: 0.5rem; } }

.search-box-button-text {
  font-weight: 600; }
  @media (max-width: 600px) {
    .search-box-button-text {
      position: absolute;
      left: -999em; } }

.datastore-list-container {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5;
  text-align: center;
  margin-bottom: 0.75rem; }

.datastore-scroll-container {
  position: relative; }

.datastore-list {
  margin: 0;
  display: inline; }

.datastore-scroll-x {
  white-space: nowrap;
  overflow-x: auto;
  padding-top: 3px; }

@media (min-width: 600px) {
  .datastore-scroll-gradient {
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248, 248, 248, 0)), color-stop(100%, #f8f8f8));
    position: absolute;
    pointer-events: none;
    right: 0;
    top: 0;
    width: 2rem;
    height: 100%;
    z-index: 2; } }

.datastore-item {
  padding: 0;
  margin: 0;
  vertical-align: bottom; }
  @media (min-width: 600px) {
    .datastore-item {
      display: inline-block; } }

.datastore-button {
  display: block;
  width: 100%;
  color: #262626;
  padding: 0.5rem 1rem;
  margin: 2px;
  padding-top: 0.5rem;
  margin: 0;
  cursor: pointer;
  border: none;
  border-bottom: solid 1px #E5E5E5;
  border-left: solid 3px transparent;
  background: transparent;
  text-align: left; }
  .datastore-button .icon {
    margin-right: 0.5rem; }
  @media (min-width: 600px) {
    .datastore-button {
      display: flex;
      align-items: center;
      border-left: none;
      border-bottom: solid 3px transparent; } }

.datastore-button--active {
  border-left: solid 3px #126DC1;
  color: #126DC1; }
  @media (min-width: 600px) {
    .datastore-button--active {
      border-bottom: solid 2px #126DC1;
      border-left: none; } }

.datastore-button:not(.datastore-button--active) svg g {
  fill: #CCC; }

/*
  Multiple results container // aka Bento box
*/
.results-container {
  width: 100%; }

.results-list {
  margin: 0;
  list-style: none; }

/*
  Search Summary // Records List Bar
*/
.results-summary-container {
  margin-bottom: 0.75rem;
  padding: 0.5rem 1.25rem;
  background: white;
  background: #FAFAFA;
  border-radius: 4px; }
  .results-summary-container > * {
    margin-top: 0.5rem; }
  @media (min-width: 600px) {
    .results-summary-container {
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .results-summary-container > * {
        margin-top: 0; } }

.no-results-suggestions {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 1rem; }
  .no-results-suggestions li {
    margin: 0;
    margin-bottom: 0.25rem; }

.pagination-container {
  padding: 0.75rem 1rem;
  background: white;
  background: #FAFAFA;
  margin-bottom: 3rem;
  margin-top: 1rem;
  border-radius: 4px; }
  .pagination-container .button-secondary,
  .pagination-container .results-summary {
    margin-right: 1rem; }
  @media (max-width: 820px) {
    .pagination-container .results-summary {
      padding: 0;
      display: block; } }

.results-summary {
  font-size: 1rem;
  font-weight: 400;
  margin: 0; }

.records-summary {
  padding: 0 1rem; }

.filters-container {
  margin-bottom: 1rem; }

.small-screen-filter-details {
  border-radius: 4px;
  background: #FAFAFA;
  margin-top: 1rem;
  font-size: 0.9rem; }

.small-screen-filter-summary {
  text-decoration: underline;
  color: #4E4E4E;
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 4px; }

.small-screen-filter-summary--active-filters {
  background: #E2F4EB;
  border: solid 1px rgba(5, 124, 66, 0.4);
  color: #057C42; }

.active-filters-heading,
.filters-heading {
  padding: 0.75rem 1rem;
  margin: 0;
  background: #FAFAFA;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5; }

.filter-group-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filter-group {
  background: #FAFAFA;
  margin: 0;
  padding: 0; }

.filter-group-heading {
  margin: 0;
  background: #FAFAFA;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.5; }

.active-filters-container {
  border-radius: 4px 4px 0 0;
  background: #FAFAFA; }

.no-filters-available {
  border-radius: 4px;
  background: #FAFAFA;
  padding: 1rem; }

.filter-group-toggle-show-button {
  appearance: none;
  margin: 0;
  padding: 0.75rem 1rem;
  width: 100%;
  cursor: pointer;
  border: none;
  background: none; }
  .filter-group-toggle-show-button:hover .filter-group-heading {
    text-decoration: underline; }
  .filter-group-toggle-show-button .icon {
    width: 0.9rem;
    height: 0.9rem; }
  .filter-group-toggle-show-button .icon g {
    fill: #4E4E4E; }

.filter-list,
.active-filters-list {
  margin: 0;
  padding-top: 0;
  list-style: none; }

.filter-item,
.active-filter-item {
  padding: 0;
  margin: 0; }

.filter-item {
  margin-bottom: 0.25rem; }

.filter-button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  width: 100%;
  padding: 0.15rem 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer; }
  .filter-button:hover .filter-value {
    text-decoration: underline; }

.filter-value {
  margin-right: 0.5rem;
  word-break: break-word;
  color: #126DC1; }

.filter-item-active .filter-value,
.filter-item-active .filter-count {
  font-weight: 600; }

.active-filter-item {
  margin: 0 1rem;
  padding-bottom: 0.5rem; }

.active-filter-button .icon g {
  fill: #E2F4EB; }

.active-filter-button {
  display: flex;
  margin: 0;
  width: 100%;
  padding: 0.75rem 1rem;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border: none;
  background: #E2F4EB;
  border: solid 1px rgba(5, 124, 66, 0.4);
  border-radius: 4px; }
  .active-filter-button .icon {
    width: 0.8rem;
    height: 0.8rem; }
  .active-filter-button .icon g {
    fill: #057C42; }
  .active-filter-button:hover .active-filter-button-text {
    text-decoration: underline; }

.active-filter-button-text {
  font-size: 0.9rem;
  color: #057C42;
  text-align: left;
  max-width: 90%; }

.clear-active-filters-container {
  margin: 0 1rem;
  padding-bottom: 0.5rem; }

.clear-active-filters-button {
  margin-bottom: 1rem;
  color: #4E4E4E;
  text-decoration: underline; }

.filter-group-checkbox {
  display: flex;
  cursor: pointer;
  margin-bottom: 0;
  padding: 0 1rem 0.5rem; }
  .filter-group-checkbox:hover {
    text-decoration: underline; }

.filter-checkbox {
  display: inline-block;
  width: 1.5rem;
  margin: 0;
  flex-shrink: 0; }

.filter-checkbox-checked {
  color: #126DC1; }

.filter-list-container {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem; }
  .filter-list-container .button-link-light {
    margin-top: 0.5rem; }

.filter-group-multiselect {
  border-top: solid 1px #E5E5E5; }

body {
  background: white; }

.flex-container {
  display: block; }
  @media (min-width: 980px) {
    .flex-container {
      display: flex; } }

.side-container {
  width: 100%;
  margin-right: 1rem; }
  @media (min-width: 980px) {
    .side-container {
      width: 24rem; } }

.grey-background {
  background: #E5E5E5; }

.page {
  background: white;
  border-radius: 4px;
  padding: 2rem;
  margin: 1rem 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24); }
  @media (max-width: 820px) {
    .page {
      padding: 1.5rem; } }

.site-wrapper {
  background: #F2F2F2; }

.page-not-found-container {
  margin-top: 6rem;
  margin-bottom: 8rem; }

/*
  Record
*/
.record {
  margin: 0.75rem 0;
  padding: 0;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

.record-container {
  padding: 0.75rem 1rem; }
  @media screen and (min-width: 820px) {
    .record-container {
      padding: 0.9rem 1.5rem;
      padding-left: 3rem; } }

.record-title {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0;
  margin-right: 1rem;
  margin-bottom: 0.75rem; }
  .record-title .icon {
    width: 0.85rem;
    color: #4E4E4E; }

.record-title-link {
  border-bottom: solid 2px rgba(18, 109, 193, 0.4); }
  .record-title-link:hover {
    background: #E6F3FF; }

.record-title-link + .icon {
  margin-left: 0.5rem; }

.record-field-list {
  margin-top: 0rem; }
  .record-field-list .record-field {
    margin-top: 0.25rem; }
  @media (min-width: 820px) {
    .record-field-list {
      display: table;
      width: 100%; }
      .record-field-list .record-field {
        display: table-row;
        margin-top: 0; }
      .record-field-list .record-field-name {
        display: table-cell;
        width: 160px;
        padding-right: 1rem;
        color: #4E4E4E;
        font-weight: 400; }
        .record-field-list .record-field-name:after {
          content: none; }
      .record-field-list .record-field-value {
        display: table-cell;
        word-break: break-word; } }

.record-field-name {
  vertical-align: top;
  padding-right: 0.25rem;
  color: #4E4E4E;
  display: block; }
  @media (max-width: 820px) {
    .record-field-name {
      font-size: 0.82rem;
      font-weight: 400;
      color: #4E4E4E; } }

.record-field-value {
  display: block; }

.record-field-value a {
  text-decoration: underline; }

.record-field-description-has-inner-html *:first-child {
  margin-top: 0; }

.record-field-description-has-inner-html *:last-child {
  margin-bottom: 0; }

/*
  Full Record Specific
*/
.full-record-container {
  margin-bottom: 1.5rem;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  order: 2; }
  .full-record-container .record-field-list {
    margin-bottom: 1rem; }
  .full-record-container .record-field-list .record-field {
    margin-top: 0; }
    .full-record-container .record-field-list .record-field dt, .full-record-container .record-field-list .record-field dd {
      padding: 0.5rem 1rem; }
      @media (max-width: 820px) {
        .full-record-container .record-field-list .record-field dt, .full-record-container .record-field-list .record-field dd {
          padding: 0; } }
    @media (max-width: 820px) {
      .full-record-container .record-field-list .record-field {
        padding: 0.5rem 1rem; } }
  .full-record-container .record-field-list .record-field:nth-child(even) {
    background: #FAFAFA; }
  .full-record-container .record-field-list .record-field:nth-child(odd) {
    background: #F2F2F2; }

.full-record-header {
  display: flex;
  background: #E6F3FF;
  padding: 1rem 2rem;
  min-height: 3.68rem;
  border-radius: 4px 4px 0 0; }
  .full-record-header p {
    margin: 0;
    color: #126DC1; }

@media (min-width: 820px) {
  .full-record-title-and-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; } }

.full-record-format {
  color: #0C5292;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  font-weight: 600; }
  .full-record-format .icon {
    color: inherit;
    margin-right: 0.5rem; }

.full-record-title {
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  margin-right: 1.5rem; }
  @media (min-width: 600px) {
    .full-record-title {
      font-size: 1.75rem; } }

.full-record__record-info {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

/*
  Record special fields
*/
.record-field-value .icon {
  display: inline-block;
  margin-right: 0.3rem; }
  .record-field-value .icon g {
    fill: #6E6E6E; }

.record-field-value-list {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 0.5rem;
  list-style: none; }

.record-field-value-list-item {
  display: block;
  margin: 0;
  padding: 0; }

.record-field-uid-academic_discipline .icon {
  width: 0.75rem;
  height: 0.65rem;
  margin: 0 0.25rem; }

.record-field-value-link {
  text-decoration: underline; }

.record-field-uid-format .record-field-value-item {
  display: inline-block;
  font-weight: 600;
  margin-right: 1rem; }
  .record-field-uid-format .record-field-value-item:after {
    content: '' !important; }
  .record-field-uid-format .record-field-value-item .icon {
    margin-bottom: -2px; }

@media (min-width: 820px) {
  .record-field-uid-format .record-field-name {
    padding-bottom: 0.25rem;
    margin-right: 0.5rem; } }

.full-record__description {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 1.5rem; }

.full-record-page-container {
  margin-top: 1rem; }
  @media (min-width: 820px) {
    .full-record-page-container {
      display: flex;
      flex-direction: column; } }

.record-person__header-has-picture {
  display: flex;
  align-items: center; }

.record-person__profile-picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  object-position: top right; }

.loading-container {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  padding: 1rem 2rem;
  border-radius: 4px 4px 0 0; }

.loading-record-text {
  color: #0C5292; }

.bentobox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: center;
  width: 100%; }
  @media (min-width: 600px) {
    .bentobox-list {
      margin-right: -1.5rem; } }
  .bentobox-list .specialists {
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0; }
    @media (min-width: 600px) {
      .bentobox-list .specialists {
        width: 19rem;
        margin-right: 1.5rem; } }

.bentobox {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 0; }
  @media (min-width: 600px) {
    .bentobox {
      width: 19rem;
      margin-right: 1.5rem; } }
  .bentobox .results-list {
    border-radius: 4px; }

.bentobox-inner-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

.bentobox-heading-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0.5rem 1rem;
  background: #126DC1;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24); }
  .bentobox-heading-container span {
    line-height: 1.5;
    color: white; }

.bentobox-heading {
  margin: 0;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  margin-right: 0.5rem;
  line-height: 1.5; }

.bentobox-results-info {
  font-size: 0.9rem;
  font-weight: 600; }

.bentobox-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FAFAFA;
  padding: 0.75rem 1rem;
  border-radius: 0 0 4px 4px; }

.bentobox-no-results {
  margin: 0;
  background: white;
  padding: 1rem;
  border-radius: 0 0 4px 4px; }

.party-parrot-container {
  cursor: pointer; }

.party-parrot {
  opacity: 0;
  vertical-align: top;
  margin-left: .3rem;
  width: 1.5rem;
  transition: opacity .2s ease-in-out; }

.party-parrot.party {
  opacity: 1 !important; }

.party-parrot-container:hover .party-parrot {
  opacity: 0.3; }

.resource-access-container {
  background: #FAFAFA;
  padding: 0.75rem 1rem;
  align-items: center;
  border-top: solid 1px #E5E5E5;
  border-radius: 0 0 4px 4px; }
  @media screen and (min-width: 820px) {
    .resource-access-container {
      padding: 0.75rem 1.5rem;
      padding-left: 3rem; } }
  .resource-access-container a {
    text-decoration: underline; }
  .resource-access-container > *:not(:last-child) {
    margin-bottom: 0.5rem; }

@-webkit-keyframes placeHolderShimmer {
  0% {
    background-position: -100vw 0; }
  100% {
    background-position: 100vw 0; } }

.placeholder-container {
  margin-bottom: 1rem; }

.placeholder {
  background: linear-gradient(to left, rgba(229, 229, 229, 0.6) 20%, #E5E5E5 50%, rgba(229, 229, 229, 0.6) 80%);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeHolderShimmer;
  -webkit-animation-timing-function: linear;
  -webkit-animation-duration: 25s;
  vertical-align: middle;
  height: 0.6rem;
  margin-top: 0;
  margin-bottom: 1rem; }

.access-placeholder-container {
  width: 100%; }
  .access-placeholder-container .placeholder {
    margin-bottom: 0; }

.placeholder-title {
  height: 1rem;
  max-width: 600px;
  margin-bottom: 2rem;
  background: linear-gradient(to left, #F2F9FF 20%, #E6F3FF 50%, #F2F9FF 80%); }

.placeholder-line {
  max-width: 22rem; }

.placeholder-line-alt {
  max-width: 18rem; }

.placeholder-inline {
  display: inline-block;
  width: 100%;
  max-width: 20rem;
  margin-right: 1rem; }

.placeholder-access {
  max-width: 12rem;
  background: linear-gradient(to left, #F2F9FF 20%, #E6F3FF 50%, #F2F9FF 80%); }

.record-preview {
  margin: 0;
  padding: 0.75rem 1rem;
  background: white;
  border-bottom: solid 1px #CCC; }

.record-preview-heading {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 0.5rem; }
  .record-preview-heading .icon {
    color: #4E4E4E;
    width: 0.85rem;
    margin-right: 0.25rem; }

.record-preview-title-link {
  margin-right: 0.25rem; }

.record-preview-published-date {
  color: #4E4E4E; }

.record-preview-format-and-author {
  margin: 0; }

.record-preview-about {
  margin: 0;
  color: #4E4E4E; }

.record-preview-link {
  display: inline-block;
  margin-top: 0.5rem;
  text-decoration: underline; }

.record-preview-format-list {
  display: inline-block;
  list-style: none;
  margin: 0; }

.record-preview-format {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #262626;
  margin-right: 0.5rem; }
  .record-preview-format .icon {
    color: #4E4E4E;
    margin-right: 0.2rem;
    margin-bottom: -0.1rem; }

.record-preview-author {
  color: #262626; }

.record-preview-format-list + .record-preview-author:before {
  content: '\00b7';
  font-weight: 600;
  margin-right: 0.4rem; }

.record-preview-description {
  margin: 0;
  color: #4E4E4E; }

.record-preview-placeholder {
  padding: 1.5rem 1rem; }

.record-placeholder-last {
  margin-bottom: 0; }

/*
  Record Preview Fields
*/
.record-preview__field {
  color: #4E4E4E; }

.record-preview__field-name {
  display: inline-block;
  font-weight: 400; }
  .record-preview__field-name:after {
    content: ":";
    padding-right: 0.25rem; }

.record-preview__field-value {
  display: inline-block; }

.landing-container {
  margin: 0 auto;
  padding: 1rem 0;
  margin-top: 1.5rem;
  border-radius: 4px;
  max-width: 28rem;
  line-height: 1.6; }
  .landing-container p {
    font-size: 1.15rem; }
  .landing-container .landing-heading-text {
    padding-bottom: 1.5rem;
    border-bottom: solid 4px #CCC;
    margin-top: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.6; }
    .landing-container .landing-heading-text b {
      color: #262626; }
  .landing-container p:not(.landing-heading-text) {
    padding-top: 1rem; }
  .landing-container a {
    text-decoration: underline; }

.landing-icons {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center; }
  .landing-icons svg {
    margin: 0 1rem; }
  .landing-icons .icon {
    width: 2.5rem;
    height: 2.5rem; }
    .landing-icons .icon g {
      color: #126DC1; }

.landing-extra-info {
  text-align: center;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem; }
  .landing-extra-info a {
    font-size: 1rem;
    border-bottom: solid 2px rgba(18, 109, 193, 0.5); }

.datastore-info-container {
  display: flex;
  align-items: flex-start;
  margin: 0.75rem 0;
  border-radius: 4px;
  justify-content: space-between; }
  .datastore-info-container h1 {
    font-size: 0.875rem;
    margin: 0;
    line-height: 1.7;
    font-weight: 400; }

.datastore-info {
  padding-right: 1rem; }

.datastore-info-hide {
  padding: 0 0.25rem;
  border: none;
  background: none;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.875rem;
  line-height: 1.7;
  font-weight: 600; }
  .datastore-info-hide:hover {
    background: #E5E5E5; }

.icon {
  width: 1rem;
  height: 1rem; }
  .icon g {
    fill: currentColor; }

.show-all-button {
  font-size: 0.85rem;
  border-radius: 0;
  border: none; }

.show-all-button__text {
  border-bottom: solid 1px #CCC; }

.feedback-container {
  margin-top: 2rem;
  margin-bottom: 1rem; }

.feedback-link {
  margin-right: 0.25rem; }

.feedback-form {
  position: relative;
  background: white;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  padding: 1.5rem 2rem;
  margin-bottom: 2rem; }

.feedback-form-fieldset {
  max-width: 32rem; }

.feedback-heading {
  font-size: 1.5rem;
  margin-top: 0;
  margin-right: 4rem; }

@media (min-width: 980px) {
  .feedback-options {
    display: flex;
    justify-content: space-between;
    align-items: baseline; } }

.feedback-options p {
  margin: 0; }

.feedback-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  text-decoration: underline; }

.feedback-qualtrics-link {
  text-decoration: underline; }

.advanced-search-form {
  margin-bottom: 2rem; }

.advanced-input {
  border: solid 1px rgba(0, 0, 0, 0.3); }

.advanced-to-basic-link {
  margin-bottom: 1.5rem;
  display: block;
  text-align: center; }
  .advanced-to-basic-link g {
    color: #4E4E4E; }

.advanced-input-remove-button {
  display: flex;
  white-space: nowrap;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  border: solid 1px #CCC;
  color: #4E4E4E;
  background: #F2F2F2;
  cursor: pointer;
  margin-left: 0.5rem; }
  @media (max-width: 820px) {
    .advanced-input-remove-button {
      padding: 0.5rem; } }

.advanced-heading {
  margin: 1rem 0;
  font-weight: 600; }
  @media (max-width: 820px) {
    .advanced-heading {
      margin: 0.5rem 0; } }

.advanced-input-container {
  display: flex; }
  @media (max-width: 820px) {
    .advanced-input-container {
      display: block; }
      .advanced-input-container .advanced-field-select {
        width: 100%;
        margin-bottom: 0.5rem; } }

.advanced-search-button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }

.advanced-search-button {
  display: flex;
  align-items: center; }
  .advanced-search-button .icon {
    margin-right: 0.5rem; }

.advanced-add-field-container {
  margin-top: 1.5rem; }
  @media (min-width: 600px) {
    .advanced-add-field-container {
      text-align: center; } }

.advanced-field-select {
  margin-right: 1rem;
  min-width: 12rem; }

.advanced-filters-container {
  margin-top: 2rem;
  border-top: solid 2px #E5E5E5; }

.advanced-filter-container {
  width: 100%;
  margin-bottom: 2rem; }
  @media (min-width: 600px) {
    .advanced-filter-container {
      width: calc(50% - 1rem); } }

.advanced-filter-inner-container {
  border-radius: 4px; }

.advanced-filter-label-text {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 1rem;
  border-bottom: solid 2px #CCC;
  padding-bottom: 0.5rem; }

.advanced-filters-inner-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -2rem; }

.advanced-filter-fieldset select {
  width: 100%; }

.scopedown-container .scopedown-dropdown-container:not(:first-child) {
  margin-top: 0.5rem; }

.scopedown-dropdown-container {
  margin: 0; }

.scopedown-dropdown {
  width: 100%; }

.scopedown-label-text {
  display: block;
  line-height: 1.6; }

.advanced-fields-container {
  padding: 1.5rem;
  border-radius: 4px; }

.advanced-input-remove-container {
  display: flex;
  width: 100%; }
  .advanced-input-remove-container > div {
    display: flex; }

.advanced-field-container fieldset {
  margin: 1rem 0; }
  .advanced-field-container fieldset:first-child {
    margin-top: 0; }
  @media (min-width: 600px) {
    .advanced-field-container fieldset {
      text-align: center; } }

.trim-string-button {
  margin: 0;
  font-size: 0.85rem;
  border: none;
  color: #4E4E4E;
  border: solid 1px #CCC;
  border-radius: 3px;
  padding: 0 0.5rem;
  line-height: 1.5;
  background: white;
  cursor: pointer; }

.trim-string-text {
  margin-right: 0.5rem; }

@media (min-width: 820px) {
  .zigzag-end {
    background-image: url("/static/css/zigzag.svg");
    height: 1rem;
    width: 100%;
    background-repeat: repeat-x;
    margin-top: -20px;
    margin-bottom: 0.75rem; } }

.sorts-label-text {
  padding-right: 0.5rem; }

.multiselect {
  border-radius: 4px; }

input.multiselect-search {
  font-size: 0.937rem; }

.multiselect-options {
  margin: 0;
  margin-top: 1rem;
  border: solid 1px #CCC;
  border-radius: 4px;
  padding: 0.5rem;
  background: white;
  height: 22rem;
  overflow-y: scroll; }
  .multiselect-options .checkbox-label {
    display: flex;
    font-size: 0.9rem;
    cursor: pointer;
    padding-right: 1rem; }

.multiselect-options-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.multiselect-options-list-item {
  margin: 0;
  padding: 0;
  margin-bottom: 0.1rem; }
  .multiselect-options-list-item .checkbox {
    margin-top: 0.15rem; }
  .multiselect-options-list-item .checkbox-label:hover .filter-name {
    text-decoration: underline; }

.multiselect-show-checked-toggle {
  margin-top: 0.5rem;
  font-size: 0.9rem; }

input.date-range-input-text {
  margin-top: 1rem;
  width: 50%; }

.date-range-input .switch-options {
  justify-content: flex-start; }

.date-range-container {
  display: flex; }

.date-range-input-text:nth-child(2) {
  margin-left: 1rem; }

.chat-widget {
  position: fixed;
  right: 1.5%;
  bottom: 0px;
  width: 100%;
  max-width: 97.5%;
  height: 0;
  transition: all 0.3s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 2px 1px;
  z-index: 100;
  height: 2.75rem;
  max-height: 28rem;
  background: #F7F7F7;
  max-width: 20rem;
  border-radius: 4px 4px 0 0; }

.chat-widget--opened {
  height: 100%; }

.chat-widget-button {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  background: #fff;
  border: 0;
  font-size: 100%;
  text-align: left;
  height: 2.75rem;
  margin-bottom: 0.2rem;
  cursor: pointer;
  padding: 0 1rem;
  border-radius: 4px 4px 0 0; }
  .chat-widget-button .icon {
    margin-right: 0.5rem; }
    .chat-widget-button .icon g {
      color: #05A657; }

.chat-widget-button--small-screens {
  width: auto;
  text-decoration: underline;
  height: auto;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
  border: solid 1px #CCC;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  align-items: center;
  background: #FAFAFA; }

.chat-widget-iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-height: 25rem;
  min-height: 24rem; }

@media print {
  .chat-widget {
    display: none; } }

.marc__container {
  order: 4; }

.marc-link-container {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
  order: 3; }

.bookplate-image {
  width: 100%;
  max-width: 14rem; }

.bookplate-description {
  margin-top: 0;
  margin-bottom: 0.5rem; }

.site-footer {
  /* keep it to the bottom */
  background: white;
  border-top: solid 2px #E5E5E5;
  color: #4E4E4E;
  padding-bottom: 5rem; }
  .site-footer p {
    margin: 0; }
  .site-footer a {
    color: #4E4E4E; }

.checkbox-label {
  display: flex;
  cursor: pointer; }

.checkbox {
  margin-right: 0.5rem;
  cursor: pointer; }

.institution-select-container {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem; }
  .institution-select-container .dropdown {
    width: 100%; }

.institution-select-label-text {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem; }

.institution-select-landing-container .radio-fieldset {
  text-align: center; }

.institution-select-landing-heading {
  font-weight: 400;
  text-align: center;
  margin-top: 0; }

.radio-label {
  background: white;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border: solid 1px #CCC;
  border-radius: 4px;
  display: inline-block;
  margin-right: 1rem; }
  .radio-label.radio-selected {
    background: #E6F3FF;
    border-color: #126DC1;
    color: #0C5292; }

.radio-input {
  position: absolute;
  padding: 0;
  margin: 0;
  margin-right: 0.5rem;
  opacity: 0; }

.radio-input:focus + .radio-label {
  outline: 3px solid rgba(255, 203, 5, 0.9);
  outline-offset: 0;
  transition: outline 0.05s ease-out; }

.marc__heading {
  font-size: 1rem; }

.marc__table {
  background: white;
  font-family: monospace;
  vertical-align: top;
  font-size: 0.875rem;
  max-width: 100%;
  overflow-x: scroll; }
  .marc__table tr:nth-child(even) {
    background: #FAFAFA; }
  .marc__table td {
    vertical-align: top; }
  .marc__table td:not(:first-child):not(:last-child) {
    padding-left: 0; }

.marc__field-name {
  color: #4E4E4E; }

.marc__subfield {
  display: inline-block;
  padding-right: 0.5rem;
  word-break: break-word; }

.marc__ind {
  margin-right: 1rem; }

.marc__ind1 {
  margin-right: 1rem; }

.browse {
  padding: 1.5rem 2rem;
  background: white; }

.browse-heading {
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  margin-bottom: 1rem; }

.browse-list {
  margin: 0;
  padding: 0; }

.browse-item {
  display: inline-block;
  margin: 0;
  padding: 0; }

.browse-button {
  min-width: 2.5rem;
  padding: 0.75rem 1rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  line-height: 1;
  background: none;
  border: none;
  color: #126DC1;
  font-size: 1.15rem;
  font-weight: 600;
  border-radius: 4px;
  border: solid 1px transparent; }
  .browse-button:hover {
    background: #E6F3FF;
    border: solid 1px #CCE6FF;
    cursor: pointer; }

.browse ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.browse li {
  margin: 0;
  padding: 0; }

.browse .nested-list ul {
  margin-left: 1rem;
  padding-left: 1rem; }

@media (min-width: 820px) {
  .browse .nested-list {
    column-count: 2;
    column-gap: 2rem; }
    .browse .nested-list > li {
      display: inline-block; } }

.browse .nested-list li {
  font-size: 1rem;
  font-weight: 400;
  padding-top: 0.5rem; }

.browse .nested-list h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 600; }

.browse .nested-list .browse-filter-link {
  font-size: inherit;
  font-weight: inherit;
  text-align: left; }
  .browse .nested-list .browse-filter-link:hover .browse-filter-link__text {
    text-decoration: underline; }

.browse .nested-list > li {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 1.5rem; }

.browse .nested-list li li li {
  font-size: 0.9rem; }

.browse-filter-link__text {
  padding-right: 0.25rem; }

.browse-filter-link__count {
  color: #4E4E4E; }

.recommended-resource-tag {
  vertical-align: super;
  font-size: 0.8rem;
  background: #FFCB05;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
  margin-left: 0.3rem; }

/*
  Get This sections
*/
.get-this-section {
  padding: 1.5rem;
  margin: 1rem 0; }

.get-this-section-heading {
  margin-top: 0;
  font-size: 1.75rem; }

/*
  Get This options
*/
.get-this-option {
  border: solid 2px #E5E5E5;
  margin-bottom: 1rem; }

.get-this-option-summary {
  cursor: pointer;
  background: #FAFAFA;
  padding: 1rem 1.5rem; }

.get-this-option-heading {
  display: inline; }

.get-this-option-heading-text {
  color: #126DC1;
  font-size: 1.25rem;
  text-decoration: underline; }

.get-this-option-subheading {
  display: block;
  color: #4E4E4E;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5; }

.get-this-option-details-container {
  padding: 1rem 1.5rem; }

@media (min-width: 820px) {
  .get-this-option-details-container {
    display: flex;
    padding: 0; }
  .get-this-option-left-half,
  .get-this-option-right-half {
    padding: 1rem 1.5rem; }
  .get-this-option-left-half {
    flex: 1;
    padding-right: 0; }
  .get-this-option-right-half {
    flex: 1; }
  .get-this-policies-container {
    border-left: solid 2px #CCC;
    padding-left: 1rem; } }

/*
  Get This Policies
*/
.get-this-policies-heading {
  font-weight: 600; }

.get-this-policies-list {
  color: #4E4E4E;
  margin-top: 0.5rem;
  margin-left: 2rem; }
  .get-this-policies-list li {
    margin-top: 0;
    padding-left: 0.25rem; }
  .get-this-policies-list a {
    text-decoration: underline; }

/*
  Get This forms
*/
.get-this-option-label {
  color: #4E4E4E;
  margin: 0.5rem 0;
  font-weight: 600; }

.get-this-field-group-inline {
  display: inline-block;
  margin-right: 1rem; }

input.get-this-field-input-year {
  width: 3rem; }

/*
  Get this FAQ
*/
.get-this-faq-heading {
  font-size: 1.5rem;
  margin-bottom: 0;
  padding-bottom: 0; }

/*
  Holdings
*/
.get-this-holdings-container .holding-table td:first-child {
  display: none; }

.specialists__inner-container {
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24); }
  .specialists__inner-container .show-all-button {
    display: block;
    width: 100%;
    margin: 0;
    padding: 1rem;
    border: none; }

.bentobox-list .specialists__inner-container {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24); }

.specialists__heading {
  font-size: 1rem;
  margin: 0;
  padding: 0.75rem 1rem;
  color: #4E4E4E;
  background: #FAFAFA;
  border-bottom: solid 1px #E5E5E5;
  border-radius: 4px 4px 0 0; }

.specialist {
  display: flex;
  margin: 1rem;
  padding-bottom: 1rem; }
  .specialist:not(:last-child) {
    border-bottom: solid 1px #E5E5E5; }
  .specialist:last-of-type {
    margin-bottom: 0; }

.specialist__picture {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  margin-right: 1rem;
  object-fit: cover;
  object-position: top right; }

.specialist__job-title {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  color: #4E4E4E; }

.specialist__heading {
  font-size: 1.1rem;
  margin: 0; }
  .specialist__heading .icon {
    color: #4E4E4E;
    width: 0.85rem; }

.specialist__url {
  margin-right: 0.5rem; }

.specialist__phone {
  margin-bottom: 0;
  margin-top: 0.5rem; }

.specialist__email {
  text-decoration: underline; }

@media (min-width: 980px) {
  .search-results .specialists__content {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1rem; }
    .search-results .specialists__content .specialist {
      width: 33.33%;
      border-bottom: none;
      margin: 0;
      padding-right: 1rem;
      padding-top: 1rem; }
    .search-results .specialists__content .show-all-button {
      width: 100%;
      text-align: center;
      text-decoration: underline;
      margin-left: -0.5rem; } }

.record-container {
  position: relative; }
  .record-container .record-title {
    margin-right: 2.25rem; }

.record--highlight {
  outline: solid 2px rgba(18, 109, 193, 0.6); }

.add-to-list-checkbox-container {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 1.5rem; }
  @media screen and (min-width: 820px) {
    .add-to-list-checkbox-container {
      left: 0.75rem;
      top: 1rem; } }
  .add-to-list-checkbox-container .checkbox {
    margin: 0;
    padding: 0.25rem;
    font-size: 0; }

@media screen and (min-width: 820px) {
  .record-title-and-actions-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline; } }

.favorite-button {
  white-space: nowrap; }
  .favorite-button .icon {
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.25rem;
    margin-bottom: -0.1rem; }

.lists-link-container {
  outline: solid 2px rgba(18, 109, 193, 0.6);
  z-index: 99; }
  @media (min-width: 600px) {
    .lists-link-container {
      position: sticky;
      top: 2px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24); } }

.lists-link-container--collapsed {
  display: none; }

.lists-link {
  background: #F2F9FF;
  padding: 0.5rem 1.25rem;
  display: block;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .lists-link .icon {
    display: inline-block;
    margin-right: 1rem; }
    .lists-link .icon g {
      fill: #126DC1; }
  .lists-link p {
    display: inline-block;
    margin: 0;
    color: #262626; }
  .lists-link .lists-count-tag {
    color: white; }
  .lists-link .underline {
    color: #126DC1; }

.lists-info {
  display: inline-flex; }

.lists-count-tag {
  color: white;
  white-space: nowrap;
  margin: 0;
  background: #0C5292;
  padding: 0 0.2rem;
  border-radius: 4px; }

.lists-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.lists-back-to-search-link {
  display: inline-flex;
  align-items: center; }
  .lists-back-to-search-link .icon {
    margin-right: 0.5rem; }

.lists-section {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem; }

.lists-actions-heading {
  font-weight: 600;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  margin-bottom: 1rem; }

.lists-heading {
  margin-bottom: 0; }

.lists-actions-list {
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  list-style: none; }
  .lists-actions-list li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #126DC1; }

.lists-count-summary {
  color: #4E4E4E; }

.lists-header-info {
  display: inline-flex; }

.lists-remove-all {
  margin-right: 1rem;
  color: #4E4E4E; }

.lists-action-button {
  border: none;
  padding: 0.5rem 0.75rem;
  border: solid 1px transparent;
  border-radius: 4px;
  line-height: 1.2;
  margin-right: 0.25rem;
  color: #262626;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .lists-action-button .icon {
    margin-bottom: 0.2rem;
    color: #4E4E4E;
    width: 1.1rem;
    height: 1.1rem; }

.lists-action-button--active {
  border-color: #126DC1;
  background: #E6F3FF;
  color: #126DC1; }
  .lists-action-button--active .icon {
    color: #126DC1; }

.lists-action-form {
  display: flex;
  margin-top: 1rem;
  max-width: 100%;
  width: 24rem;
  align-items: flex-end; }
  .lists-action-form > * {
    margin-right: 1rem; }

.lists-action-field-container {
  width: 100%; }

.lists-action {
  padding: 0;
  margin-top: 1rem; }
  .lists-action .react-tabs__tab--selected {
    border-bottom-color: #FAFAFA; }

.full-record__actions-container {
  background: #FAFAFA;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  order: 1; }
  .full-record__actions-container .lists-action {
    margin-top: 0.5rem; }

.lists-actions__heading-tag {
  font-weight: 400;
  margin-left: 1rem; }

.full-record__actions-heading {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: center; }

.lists-action-alert {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  margin-top: 1rem; }
  .lists-action-alert p {
    margin: 0; }

.error-help-section .ask-a-librarian-button {
  display: inline-block;
  margin: 0;
  padding: 0.5rem 1rem;
  background: #126DC1;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid #0C5292;
  cursor: pointer;
  text-decoration: none;
  line-height: inherit; }

.react-autosuggest__container {
  position: relative; }

.react-autosuggest__suggestions-container--open {
  position: absolute;
  left: 0;
  width: 100%; }

.react-autosuggest__suggestions-list {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: solid 1px #6E6E6E;
  border-radius: 0 0 4px 4px;
  padding: 0.25rem 0;
  max-height: 32rem;
  overflow-y: scroll; }

.react-autosuggest__suggestion {
  margin: 0;
  padding: 0;
  cursor: pointer;
  padding: 0.25rem 0.75rem; }
  .react-autosuggest__suggestion:hover {
    text-decoration: underline; }

.react-autosuggest__suggestion--highlighted {
  text-decoration: underline; }

.u-break-word {
  word-wrap: break-word; }

.u-margin-top-none {
  margin-top: 0; }

.u-margin-bottom-none {
  margin-bottom: 0; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-padding-top-1 {
  padding-top: 1rem; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-right-1 {
  margin-right: 1rem; }

.margin-right-2 {
  margin-right: 2rem; }

.margin-right-1 {
  margin-right: 1rem; }

.margin-left-2 {
  margin-left: 2rem; }

.margin-left-1 {
  margin-left: 1rem; }

.margin-bottom-2 {
  margin-bottom: 2rem; }

.margin-bottom-1 {
  margin-bottom: 1rem; }

.margin-top-2 {
  margin-top: 2rem; }

.margin-y-half {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem; }

.u-display-inline-block {
  display: inline-block; }

.underline {
  text-decoration: underline; }

.margin-1 {
  margin: 1rem; }

.margin-2 {
  margin: 2rem; }

.no-margin {
  margin: 0; }

.no-border {
  border: none; }

.offpage {
  position: absolute;
  left: -999em; }

.hide {
  display: none; }

.font-small {
  font-size: 0.85rem; }

.y-spacing > *:not(:last-child) {
  margin-bottom: 1rem; }

.x-spacing > *:not(:last-child) {
  margin-right: 1rem; }

.favorites-authentication {
  display: flex;
  white-space: nowrap; }

.favorite-icon {
  margin-right: 0.25rem;
  margin-bottom: -2px;
  width: 1.2rem;
  height: 1.2rem; }

.favorite-tags-label {
  margin-right: 0.5rem;
  font-weight: 600; }

.favorite-tags {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0; }
  .favorite-tags li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem; }

.favorites-add-tag svg {
  width: 0.6rem;
  margin-bottom: -2px;
  margin-right: 0.25rem; }

.favorite__add-tag-modal {
  border-radius: 4px;
  background: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  padding: 1rem;
  border: solid 1px #CCC; }

.add-tag-heading {
  display: block;
  margin-top: 0;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.25rem; }

.add-tag-fieldset {
  margin: 0;
  margin-bottom: 1.5rem; }
  .add-tag-fieldset label {
    margin-bottom: 0.25rem; }
