@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.site-min-width {
  min-width: 20rem; }

.container {
  margin: 0 auto;
  padding: 0 1rem; }

.container-narrow {
  max-width: 57.5rem; }

.container-medium {
  max-width: 74rem; }

.container-fluid {
  padding: 0 1rem; }

@media (min-width: 80rem) {
  .container-large {
    width: 96vw;
    max-width: 110rem; } }

/*
  Site
*/
body {
  line-height: 1.7;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

/*
  Headings
*/
h1 {
  font-size: 1.87rem; }

h2 {
  font-size: 1.5rem; }

h1, h2 {
  font-weight: 400;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h3, h4 {
  font-weight: 400; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }

h5, h6 {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; }

/*
  Typography and Elements
*/
p {
  margin: 1rem 0; }

a {
  color: #126DC1;
  cursor: pointer;
  text-decoration: none;
  font-weight: inherit; }

*::selection {
  background: #CCE6FF; }

ol, ul {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  padding-left: 1rem;
  margin-top: 1rem; }

dt {
  font-weight: 600; }

table {
  width: 100%;
  border: solid 1px #E5E5E5;
  margin-top: 1rem;
  margin-bottom: 1rem; }

thead {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5; }

td, th {
  padding: 0.75rem 1rem; }

th {
  text-align: left;
  color: #6E6E6E; }

.table-compact table {
  border: none; }

.table-compact td, .table-compact th {
  padding: 0.25rem 0.5rem;
  font-size: 90%; }

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 0.5rem #126DC1;
  margin: 2rem 0;
  color: #126DC1;
  font-style: italic; }

b {
  font-weight: 600; }

sup {
  font-size: 0.6em;
  vertical-align: top; }

label {
  margin-bottom: 0.1rem;
  color: #4E4E4E;
  display: block; }

.fieldset-label {
  font-weight: 700; }

input,
button,
textarea {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

input[type="text"] {
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.6rem;
  line-height: 1.4;
  width: 100%; }

input[type="text"]:disabled,
input[type="text"]:read-only {
  background: #FAFAFA;
  border-color: #CCC;
  color: #6E6E6E;
  cursor: not-allowed; }

fieldset {
  margin: 1rem 0; }

.help-text {
  margin: 0; }

fieldset.field-valid input[type="text"] {
  border-color: #05A657; }

fieldset.field-valid .help-text {
  color: #05A657;
  font-size: 0.9rem; }

fieldset.field-error input[type="text"] {
  border-color: #ED5D47; }

fieldset.field-error .help-text {
  color: #ED5D47;
  font-size: 0.9rem; }

fieldset.field-warning input[type="text"] {
  border-color: #E77504; }

fieldset.field-warning .help-text {
  color: #E77504;
  font-size: 0.9rem; }

textarea {
  display: block;
  padding: 1rem;
  margin: 1rem 0;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  max-width: 100%; }

.button {
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.65rem;
  padding-bottom: 0.55rem;
  background: #126DC1;
  color: #fff;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  border-bottom: 3px solid #0C5292;
  cursor: pointer;
  text-decoration: none; }

.button:active {
  color: #FAFAFA;
  background: #0C5292;
  border-color: #00274C; }

.button:active,
.button:hover {
  text-decoration: none; }

.button-disabled:hover,
.button-disabled:active {
  cursor: not-allowed; }

.button-light {
  background: #E5E5E5;
  color: #4E4E4E;
  border-color: #CCC; }

.button-light:active {
  background: #CCC;
  color: #4E4E4E;
  border-color: #6E6E6E; }

.button-small {
  padding: 0.4rem 0.8rem; }

.button-radio {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #CCC;
  background: #FAFAFA;
  border-radius: 4px;
  cursor: pointer; }

.button-link {
  border: none;
  display: inline-block;
  margin: 0;
  color: #126DC1;
  background: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 0; }

nav {
  display: inline-block; }

.navigation {
  float: right; }

.navigation-list {
  margin: 0;
  padding: 0; }

.navigation-item {
  display: inline-block;
  margin-top: 0.25rem; }

.alert {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #E5E5E5;
  background: #FAFAFA;
  border-radius: 4px; }

.alert-success {
  background: #E2F4EB;
  border-color: #05A657; }

.alert-info {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-warning {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-danger {
  background: #FFEAE7;
  border-color: #ED5D47; }

.alert *:first-child {
  margin: 0; }

.site-message-warning {
  background: #FFEEDD;
  border-bottom: solid 2px #E77504; }

.site-message-info {
  background: #F2F9FF;
  border-bottom: solid 2px #CCE6FF; }

.site-message {
  position: relative;
  padding: 0.5rem 1rem;
  padding-right: 6rem; }
  .site-message p {
    margin: 0;
    text-align: center; }

.site-message-dismiss {
  /* remove button style */
  border: none;
  font-size: 100%;
  background: none;
  padding: 0;
  /* continue */
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  cursor: pointer;
  line-height: 1.4; }
  .site-message-dismiss span {
    text-decoration: underline; }
  .site-message-dismiss:after {
    content: '✕';
    padding-left: 0.5rem;
    text-decoration: none; }

.site-header {
  background: #00274C;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.logo-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex; }
  .logo-item-list li {
    display: inline-block;
    margin: 0;
    height: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }

.logo-link {
  display: inline-block;
  vertical-align: top;
  height: 2rem; }
  .logo-link img {
    height: 100%;
    width: auto; }

.logo-block-m {
  padding-right: 1rem; }

.logo-library,
.logo-search {
  font-size: 1.5rem;
  color: white; }

.logo-search a {
  color: white; }

.logo-library {
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 1rem; }
  .logo-library a {
    color: rgba(255, 255, 255, 0.5); }

@media (max-width: 28em) {
  .logo-item-list li,
  .logo-link {
    height: 1.8rem; }
  .logo-library,
  .logo-search {
    font-size: 1.3rem;
    color: white;
    padding-left: 0.8rem; }
  .logo-library,
  .logo-block-m {
    padding-right: 0.8rem; } }

footer {
  background: #00274C;
  padding: 2rem 0;
  margin-top: 3rem; }

.callout {
  background: #F2F9FF;
  padding: 2rem 0;
  margin-bottom: 2rem; }

.no-margin {
  margin: 0; }

.white-text {
  color: white; }

.right {
  float: right; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

/* start commented backslash hack \*/
* html .clearfix {
  height: 1%; }

.clearfix {
  display: block; }

/* close commented backslash hack */
.light-text {
  opacity: 0.8;
  font-size: 90%; }

.center-text {
  text-align: center; }

.focus-outline-white {
  outline-color: white; }

.card {
  background: #fff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

.search-box-container-full {
  background: #E6F3FF;
  padding: 1rem 0;
  border-bottom: solid 2px #CCE6FF; }

.search-box-container {
  max-width: 46rem; }

.search-box {
  display: flex; }

input.search-box-input {
  padding: 0.6rem 1rem;
  border: 1px solid rgba(18, 109, 193, 0.4); }

.search-box-button {
  margin-left: 1rem;
  margin-right: 0; }

.datastore-list-container {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5; }

.datastore-scroll-container {
  position: relative; }

.datastore-list {
  margin: 0;
  text-align: center; }

.datastore-scroll-x {
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto; }

.datastore-scroll-gradient {
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(248, 248, 248, 0)), color-stop(100%, #f8f8f8));
  position: absolute;
  pointer-events: none;
  right: 0;
  top: 0;
  width: 1.5rem;
  height: 100%;
  z-index: 2; }

.datastore-item {
  display: inline-block;
  padding: 0;
  margin: 0; }

.datastore-item-link {
  display: inline-block;
  color: #4E4E4E;
  padding: 0.5rem;
  padding-top: 0.6rem;
  margin: 0 0.5rem;
  cursor: pointer;
  border-bottom: solid 2px transparent; }

.datastore-item-active {
  border-bottom: solid 2px #126DC1;
  color: #126DC1; }

/*
  Multiple results container // aka Bento box
*/
.results-list {
  margin: 0;
  list-style: none; }

.results-list-border > li {
  border-bottom: solid 2px #E5E5E5; }

/*
  Search Summary // Records List Bar
*/
.results-summary-container {
  margin-top: 1rem;
  padding: 1rem 2rem;
  border-bottom: solid 2px #F2F2F2;
  background: white;
  border-radius: 4px 4px 0 0;
  background: #FAFAFA; }

.results-summary {
  padding-right: 1rem; }

.pagination-container {
  padding: 1rem 2rem;
  border-bottom: solid 2px #F2F2F2;
  background: white;
  border-radius: 0 0 4px 4px;
  background: #FAFAFA;
  margin-bottom: 2rem; }
  .pagination-container .results-summary {
    padding: 0 1rem; }

.records-summary {
  padding: 0 1rem; }

.filter-groups {
  margin-top: 1rem; }

.filter-group {
  padding: 1rem;
  background: #FAFAFA;
  border-bottom: solid 2px #F2F2F2; }

.filter-group:first-child {
  border-radius: 4px 4px 0 0; }

.filter-group:last-child {
  border-radius: 0 0 4px 4px; }

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.filter-list-heading {
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  padding: 0 0.5rem; }

.filter-item {
  padding: 0;
  margin: 0; }

.filter-button {
  background: none;
  border: none;
  text-align: left;
  padding: 0;
  width: 100%;
  padding: 0.3rem 0.5rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 4px; }
  .filter-button:hover {
    background: #E5E5E5; }

.filter-value {
  margin-right: 0.5rem;
  color: #126DC1; }

.filter-active .filter-button {
  background: #126DC1;
  border-radius: 4px; }
  .filter-active .filter-button .filter-value,
  .filter-active .filter-button .filter-count {
    color: white; }

body {
  background: #F2F2F2; }

.flex-container {
  display: flex; }

.side-container {
  width: 22rem;
  margin-right: 1rem; }

.main-container {
  width: 100%; }

.grey-background {
  background: #E5E5E5; }

@media (max-width: 40rem) {
  .flex-container {
    display: block; }
  .side-container {
    width: 100%; } }

.card {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24);
  border-radius: 4px; }

/*
  Record
*/
.record {
  margin: 0;
  padding: 0;
  background: white;
  /*
  margin-bottom: 1rem;
  border-radius: 4px;
  */ }

.record-container {
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 2rem; }

.record-title {
  font-weight: 600;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 0; }

.record-title-link {
  border-bottom: solid 2px rgba(18, 109, 193, 0.4); }
  .record-title-link:hover {
    background: #E6F3FF; }

.record-field-list {
  margin-top: 1rem;
  display: table; }

.record-field {
  display: table-row; }

.record-field-name {
  display: table-cell;
  padding-right: 1rem;
  font-weight: 400;
  color: #6E6E6E; }

.record-field-value {
  display: table-cell;
  word-break: break-word; }

/*
  Full Record Specific
*/
.full-record-container {
  margin-top: 1rem;
  background: white;
  border-radius: 4px; }

.full-record-title {
  font-size: 1.5rem;
  margin-top: 0; }

.loading-container {
  display: flex;
  align-items: center;
  margin-top: 0rem;
  padding: 1rem 2rem;
  border-radius: 4px 4px 0 0; }

.bentobox-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0; }

.bentobox {
  width: 100%;
  margin-bottom: 1rem;
  padding: 0; }
  .bentobox .results-list {
    border-radius: 4px; }
  .bentobox .record-container {
    padding: 1.5rem;
    padding-bottom: 0;
    margin-bottom: 1.5rem; }
  .bentobox .access-container {
    padding: 1rem 1.5rem; }
  .bentobox .record-title {
    font-size: 1.1rem; }

.bentobox-heading {
  margin-top: 0; }

@media (min-width: 36em) {
  .bentobox {
    width: calc(100% * (1/2) - 1rem);
    margin-right: 1rem; } }

@media (min-width: 62em) {
  .bentobox {
    width: calc(100% * (1/3) - 1rem);
    margin-right: 1rem; } }

@media (min-width: 92em) {
  .bentobox {
    width: calc(100% * (1/5) - 1rem);
    margin-right: 1rem; } }

.party-parrot-container {
  cursor: pointer; }

.party-parrot {
  opacity: 0;
  vertical-align: top;
  margin-left: .3rem;
  width: 1.5rem;
  transition: opacity .2s ease-in-out; }

.party-parrot.party {
  opacity: 1 !important; }

.party-parrot-container:hover .party-parrot {
  opacity: 0.3; }

.access-container {
  display: flex;
  background: #FAFAFA;
  padding: 1rem 2rem;
  margin-top: -0.5rem;
  align-items: center; }

.access-container:empty {
  display: none; }

.holdings-list {
  margin: 0;
  list-style: none; }

.holdings-list-item {
  margin: 0;
  padding: 0; }

.holdings-list-item:not(:last-child) {
  border-bottom: 1px solid #E5E5E5;
  padding-bottom: 0.75rem; }

.holdings-list-item:not(:first-child) {
  padding-top: 0.75rem; }

.holding-status,
.holding-callnumber,
.holding-location,
.holding-electronic-link,
.holding-electronic-text {
  margin-right: 0.5rem; }

.holding-electronic-link {
  display: block; }

.holding-location {
  font-weight: 600; }

.loading-sync-icon {
  fill: rgba(51, 51, 51, 0.5);
  animation: spin 3s linear infinite;
  margin: 0 0.5rem; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateZ(0deg); }
  100% {
    -webkit-transform: rotateZ(-360deg); } }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  height: 96px;
  position: relative; }

.u-break-word {
  word-wrap: break-word; }

.u-margin-top-none {
  margin-top: 0; }

.u-margin-bottom-none {
  margin-bottom: 0; }

.margin-right-2 {
  margin-right: 2rem; }

.underline {
  text-decoration: underline; }

.margin-1 {
  margin: 1rem; }

.margin-2 {
  margin: 2rem; }

.no-margin {
  margin: 0; }

.no-border {
  border: none; }
