.no-background {
  background: transparent;
  background-color: transparent;
}

.container__rounded {
  background-color: white;
  border-radius: 4px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.12),
    0 2px 4px 0 rgba(0, 0, 0, 0.24);
}

.flex__responsive {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 1rem;
}

@media (min-width: 640px) {
  .flex__responsive {
    flex-direction: row;
  }
}
