@import '../../globals/scss/vars.scss';

.Modal__Content {
  margin: 1rem;
  background: white;
  padding: 1.5rem;
  border-radius: 4px;

  @media screen and (min-width: $small-screens) {
    max-height: calc(100% - 100px);
    position: fixed;
    top: 14vh;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    max-width: 34rem;
    box-shadow: 0 0 0 1px rgba(16,22,26,.1), 0 4px 8px rgba(16,22,26,.2), 0 18px 46px 6px rgba(16,22,26,.2);
    padding: 2rem;
  }

  @media screen and (max-height: $small-screens) {
    top: 0;
  }
}

.Modal__Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(16,22,26,.7);
  z-index: 101;
}

.ReactModal__Html--open,
.ReactModal__Body--open {
  overflow: hidden;
}
