// Brand
$u-m-yellow: #FFCB05;
$u-m-blue:   #00274C;

// Greys
$grey-1:     #333;
$grey-2:     #4E4E4E;
$grey-3:     #6E6E6E;
$grey-4:     #CCC;
$grey-5:     #E5E5E5;
$grey-6:     #FAFAFA;

// Blues
$main-1:     $u-m-blue;
$main-2:     #0C5292;
$main-3:     #126DC1;
$main-4:     #CCE6FF;
$main-5:     #E6F3FF;
$main-6:     #F2F9FF;

$green-1:    #057C42;
$green-2:    #05A657;
$green-3:    #E2F4EB;

$orange-1:   #AA5600;
$orange-2:   #E77504;
$orange-3:   #FFEEDD;

$red-1:      #C53B26;
$red-2:      #ED5D47;
$red-3:      #FFEAE7;

$teal-1:     #AA5600;
$teal-2:     #E77504;
$teal-3:     #FFEEDD;
