/*
  U-M Brand colors
*/

$color__u-m-yellow: #FFCB05;
$color__u-m-blue:   #00274C;

/*
  Greys
*/

$color__grey-1: #262626;
$color__grey-2: #4E4E4E;
$color__grey-3: #CCC;

$color__grey-light-1: #E5E5E5;
$color__grey-light-2: #F2F2F2;
$color__grey-light-3: #FAFAFA;

/*
  Blues
*/

$color__blue-1: $color__u-m-blue;
$color__blue-2: #0C5292;
$color__blue-3: #126DC1;

$color__blue-light-4: #CCE6FF;
$color__blue-light-5: #E6F3FF;
$color__blue-light-6: #F2F9FF;

/*
  Greens
*/

$color__green-1: #057C42;
$color__green-2: #05A657;
$color__green-3: #E2F4EB;

/*
  Oranges
*/

$color__orange-1: #AA5600;
$color__orange-2: #E77504;
$color__orange-3: #FFEEDD;

/*
  Reds
*/

$color__red-1: #C53B26;
$color__red-2: #ED5D47;
$color__red-3: #FFEAE7;

/*
  Teals
*/

$color__teal-1: #AA5600;
$color__teal-2: #E77504;
$color__teal-3: #FFEEDD;

/*
  Purple
*/

$color__purple-1: #4c2c92;
