@import 'colors';
@import 'spacing';

// Base font size
$base-font-size: 16px;
$large-screen-font-size: 18px;

$small-font-size: 0.875rem;

// Text
$text-color: $color__grey-1;
$text-secondary-color: $color__grey-2;
$text-tertiary-color: $color__grey-3;

// Links
$link-color: $color__blue-3;
$link-hover-color: darken($link-color, 1%);
$link-visited-color: $color__purple-1;

// Focus
$focus-color: $color__u-m-yellow;

// Buttons
$button-text-color: white;
$button-background-color: $color__blue-3;

// Backgrounds
$page-color: #fff;
$highlight-color: $color__grey-light-2;
$highlight-alt-color: $color__blue-light-6;

// Viewport breakpoints
$small-screens: 42rem;
