/*
  U-M Brand colors
*/
/*
  Greys
*/
/*
  Blues
*/
/*
  Greens
*/
/*
  Oranges
*/
/*
  Reds
*/
/*
  Teals
*/
/*
  Purple
*/
.tag,
.tag-remove {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none; }
  .tag[disabled],
  .tag-remove[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }

.tag {
  display: inline-flex;
  align-items: center;
  border-radius: 4px;
  font-size: 1rem;
  color: #0C5292;
  background: #CCE6FF; }

.tag-children {
  padding: 0 0.5rem; }

.tag-remove {
  display: inline-flex;
  cursor: pointer;
  padding: 0.25rem; }
  .tag-remove svg {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    flex: 0 0 auto;
    vertical-align: top;
    fill: currentColor;
    opacity: 0.85; }
  .tag-remove:hover svg {
    opacity: 1; }

.tag-children + .tag-remove {
  padding-left: 0; }
