@import '../../globals/scss/vars.scss';

.alert {
  margin: 0;
  padding: 0.75rem 1.5rem;

  border-bottom: solid 1px $color__grey-light-1;
  background: $color__grey-light-3;
  border-left: 0;
  border-right: 0;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.alert-inner {
  display: flex;
  justify-content: center;
  max-width: 52rem;
  margin: 0 auto;
}

.alert-informational {
  color: $color__blue-2;
  background: $color__blue-light-3;
  border-color: $color__blue-light-1;
}

.alert-warning {
  color: $color__orange-1;
  background: $color__orange-3;
  border-color: $color__orange-2;
}

.alert-error {
  color: $color__red-1;
  background: $color__red-3;
  border-color: $color__red-1;
}

.alert-message {
  padding: 0;
  margin: 0;
  margin-right: 1rem;
  font-size: 0.875rem;
}

.alert-dismiss-button {
  color: inherit;
  font-weight: 600;
}
