/*
  U-M Brand colors
*/
/*
  Greys
*/
/*
  Blues
*/
/*
  Greens
*/
/*
  Oranges
*/
/*
  Reds
*/
/*
  Teals
*/
/*
  Purple
*/
.alert {
  margin: 0;
  padding: 0.75rem 1.5rem;
  border-bottom: solid 1px #E5E5E5;
  background: #FAFAFA;
  border-left: 0;
  border-right: 0; }
  .alert a {
    color: inherit;
    text-decoration: underline; }

.alert-inner {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: baseline;
  font-size: 0.875rem; }

.alert-informational {
  color: #0C5292;
  background: #F2F9FF;
  border-color: #CCE6FF; }

.alert-warning {
  color: #AA5600;
  background: #FFEEDD;
  border-color: #E77504; }

.alert-error {
  color: #C53B26;
  background: #FFEAE7;
  border-color: #C53B26; }

.alert-dismiss-button {
  color: inherit;
  font-weight: 600; }
