@import '../../globals/scss/vars.scss';
@import '../../globals/scss/mixins.scss';

.btn {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none;
  cursor: pointer;

  &[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn--start,
.btn--primary,
.btn--secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.btn--start,
.btn--primary {
  background: $button-background-color;
  color: white;
  border: 0;
  border-bottom: darken($button-background-color, 5%);
  border-bottom-width: 3px;
  border-bottom-style: solid;

  &:focus {
    background: $button-background-color;
  }

  &:hover {
    cursor: pointer;
    background: darken($button-background-color, 5%);
    border-color: darken($button-background-color, 10%);
    color: white;
  }
}

.btn--start {
  font-size: 1.2rem;
  font-weight: 600;
}

.btn--secondary {
  color: $text-secondary-color;
  border: solid 1px lighten($text-secondary-color, 20%);
  background: transparent;

  &:hover {
    border-color: $text-secondary-color;
  }
}

.btn--tertiary {
  color: $text-secondary-color;
  text-decoration: underline;
}

.btn--small {
  font-size: $small-font-size;
}

.btn--primary,
.btn--secondary {
  &.btn--small {
    padding: 0.25rem 0.5rem;
  }
}
