/*
  U-M Brand colors
*/
/*
  Greys
*/
/*
  Blues
*/
/*
  Greens
*/
/*
  Oranges
*/
/*
  Reds
*/
/*
  Teals
*/
/*
  Purple
*/
.btn {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none; }
  .btn[disabled] {
    opacity: 0.6;
    cursor: not-allowed; }

.btn--start,
.btn--primary,
.btn--secondary {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-size: 1rem; }

.btn--start,
.btn--primary {
  background: #126DC1;
  color: white;
  border: 0;
  border-bottom: #1060aa;
  border-bottom-width: 3px;
  border-bottom-style: solid; }
  .btn--start:focus,
  .btn--primary:focus {
    background: #126DC1; }
  .btn--start:hover,
  .btn--primary:hover {
    cursor: pointer;
    background: #1060aa;
    border-color: #0e5392;
    color: white; }

.btn--start {
  font-size: 1.2rem;
  font-weight: 600; }

.btn--secondary {
  color: #4E4E4E;
  border: solid 1px #818181;
  background: transparent; }
  .btn--secondary:hover {
    border-color: #4E4E4E; }

.btn--tertiary {
  color: #4E4E4E;
  text-decoration: underline; }

.btn--small {
  font-size: 0.875rem; }

.btn--primary.btn--small,
.btn--secondary.btn--small {
  padding: 0.25rem 0.5rem; }
