name: Linting

on:
  push:
  pull_request:

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install latest LTS version of Node.js
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          check-latest: true
      - name: Install NPM
        run: npm install
      - name: Run ESLint
        run: npm run lint
